header>nav{
	position: relative;
	top: #{$unit__header--height};	
	transition: all $length__transition $style__animation-ease;
	-webkit-transition: all $length__transition $style__animation-ease;
	z-index: 110;
	@include media-to($length-mobile-cutoff){
		position: fixed;
		top: #{$unit__header--height};
		left: -1px;
		height: 100%;			
		height: 100%;
		z-index: 999;
		padding-bottom: 100%;
		ul{
			display: block;
			float: left;				
			top: 0;
			background-color: $color-drawer;
		}
		address{
			margin-top: 0;
			width: auto;
			height: #{$unit__nav--height};
			//height: #{$unit__nav--height - $unit__nav--height / 3};
			background-color: $color-drawer;				
			top: 0;
			left: 0;
			padding-left: 0.5rem;
			text-align: center;
			border-bottom: 1px solid $color-drawer;
			a{
				line-height: #{$unit__nav--height};
				height: #{$unit__nav--height};}}
		address + ul{
			top: #{$unit__nav--height};}
		li{
			padding-left: 1rem;
			display: block;
			text-align: left;
			> a{
				padding: 1rem 0;
				height: 3rem;}}
		-webkit-transition: -webkit-transform #{$length__transition / 2} $style__animation-ease;
		-moz-transition: -moz-transform #{$length__transition / 2} $style__animation-ease;
		-o-transition: -o-transform #{$length__transition / 2} $style__animation-ease;
		transition: transform #{$length__transition / 2} $style__animation-ease;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		@include prefixer("transform", "translateY(100%) scale3d(1, 0, 1)");
		@include prefixer("transform-origin", "50% -100%");}
	@include media-from($unit__base-x-two){
		width: 62%;}
	@include media-from($unit__base-x-three){
		width: 50%;}
	@include media-from($unit__base-x-five){
		height: 100%;
		width: 38%;}
	@include media-from($unit__base-x-eight){
		@include column(8,8);
		>ul{
			border: 0;
			box-shadow: none;
			>div + li{
				border-top: none;
				border-left: 1px solid mix($color-background,$color-drawer);}}
		li{
			float: none;
			text-align: center;
			display: table-cell;
			&:hover{
				ul{
					top: 100%;}
				a:after{
					border-top: 0.75rem solid $color-drawer;}}}}

	@include media-from($unit__base-x-thirteen){
		@include column(13,13);}
	a{
		font-family: "#{$body-font}";}
	>ul{
		position: relative;
		max-width: $max-width;			
		min-height: #{$unit__nav--height};
		background-color: rgba(red($color-drawer), green($color-drawer), blue($color-drawer), $unit__header--opacity);
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;			
		padding: 0;
		list-style: none;
		display: table;
		table-layout: fixed;
		box-sizing: border-box;
		@include box-shadow($color-drawer);
		>div{
			display:none;}
		div + li{
			border-top: 1px solid mix($color-background,$color-drawer);}
		li{		
			box-sizing: border-box;										
			table-layout: fixed;	
			vertical-align: middle;	
			position: relative;
			border-radius: $unit__border-radius;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			text-align: left;
			float: left;
			width: 100%;
			display: block;	
			&:hover{
				background-color: $color-primary;
				border: none;
				ul{
					left: 0;
					z-index: 999;
					width: 110%;
					@include box-shadow($color-drawer);
					li{
						margin-bottom: 0;}}
				>a{
					&, &:hover{
					color: $color-background;}
					&:after{
						left: calc(100% + 1.2rem);				
						border-top: 0.75rem solid $color-drawer;
						@include prefixer(transform, rotate(-90deg));}}}
			ul{
				left: -100%;
				& + a:after{
					bottom: 0;
					top: 0;
					margin: auto;
					left: calc(100% + 0.2rem);}}
			>a{									
				text-decoration: none;
				width: 100%;
				display: block;}}}}