section{
	&.hero{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		//flex-wrap: wrap;
		text-align: center;
		padding: 0 calc((100% - #{$max-width}) / 2);
		&>*{
			width: 100%;
			flex-grow: 1;
			padding: 0 0.5rem;}}}