$quality: null;
$key: null;
$color: null;
$scheme: null;
$tone: null;

@import "laws/variables";
@import "laws/normalize";
@import "laws/mixins";


$keys: a 0.75, b 0.875, c 1.00, d 1.125, e 1.25, f 1.375, g 1.50;
$qualities: maj, dim, aug, augmin7, sus, sus2, eleventh, min7, maj7, dom7, dim7, min6, maj6, domflat9, domsharp9, min9, maj9, perfect5; 
$schemes: mono, complement, triad, tetrad, analogic, accented-analogic;
$tones: white, light, dark, black;

$classy-number: null;

@each $classy-quality in $qualities {
	$quality: $classy-quality;
	@each $classy-key in $keys{
		.#{nth($classy-key,1)}{
			&.#{$classy-quality}, & .#{$classy-quality}{
				$classy-number: nth($classy-key, 2);
				& h1{@include font-properties-for(h1,$classy-number);
					&.uber,	.uber &{@include font-properties-for(h1,$classy-number * 2);}}
				& h2{@include font-properties-for(h2,$classy-number);
					&.uber,	.uber &{@include font-properties-for(h2,$classy-number * 2);}}				
				& h3{@include font-properties-for(h3,$classy-number);
					&.uber,	.uber &{@include font-properties-for(h3,$classy-number * 2);}}
				& h4{@include font-properties-for(h4,$classy-number);
					&.uber,	.uber &{@include font-properties-for(h4,$classy-number * 2);}}
				& h5{@include font-properties-for(h5,$classy-number);
					&.uber,	.uber &{@include font-properties-for(h5,$classy-number * 2);}}
				& p{@include font-properties-for(p,$classy-number);
					&.uber,	.uber &{@include font-properties-for(p,$classy-number * 2);}}}}}}
