
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table{
	display: flex;
	tr{
		display: flex;
		flex-wrap: wrap;
		td{
			padding: 0.5rem;
			margin: 0 auto;
			flex-basis: #{$unit__base-x-three * 1px};
		}
	}
}