@import "color-schemer/blend-modes";

/* Defaults*/
$cs-primary           : $color;
$cs-scheme            : $scheme;   /* mono, complement, triad, tetrad, analogic, accented-analogic*/
$cs-hue-offset        : 30 !default;
$cs-brightness-offset : false !default;
$cs-color-model       : rgb !default;    /* rgb, ryb*/
$cs-colorblind        : normal !default;

/* Partials*/
@import "color-schemer/interpolation";
@import "color-schemer/cmyk";
@import "color-schemer/ryb";
@import "color-schemer/colorblind";
@import "color-schemer/equalize";
@import "color-schemer/mix";
@import "color-schemer/tint-shade";
@import "color-schemer/color-adjustments";
@import "color-schemer/color-schemer";

@import "color-schemer/mixins";

/* Tell other files that this is loaded.*/
$color-schemer-loaded : true;

$color-primary: null;
$color-secondary: null;
$color-tertiary: null;
$color-background: null;
$color-accent: null;
$color-drawer: null; /*light if tone is dark, dark if tone is light, light if tone is white, dark if tone is black*/

@function color-primaryer($tone){

	@return cs-primary($tone);
}


@function color-secondaryer($tone){
	@if $scheme == mono{
		@return color-texter($tone);
	}
	@else{
		@return cs-secondary($color);
	}
}


@function color-texter($tone){
	@if $tone == white{
		@return set-lightness($color, 15%);

	}
	@else if $tone == light{
		@return set-lightness($color, 25%);
		
	}
	@else if $tone == dark{
		@return set-lightness($color, 75%);
		
	}
	@else if $tone == black{
		@return set-lightness($color, 85%);
		
	}
}

@function color-accenter($tone){
	@if $tone == white{
		@return adjust-hue($color, 30deg);

	}
	@else if $tone == light{
		@return shade($color, 25%);
		
	}
	@else if $tone == dark{
		@return tint($color, 25%);
		
	}
	@else if $tone == black{
		@return adjust-hue($color, -30deg);
		
	}
}

@function color-backgrounder($tone){
	@if $tone == white{
		@return set-lightness($color, 98%);

	}
	@else if $tone == light{
		@return set-lightness($color, 85%);
		
	}
	@else if $tone == dark{
		@return set-lightness($color, 15%);
		
	}
	@else if $tone == black{
		@return set-lightness($color, 02%);
		
	}
}

@function color-drawerer($tone){
	@if $tone == white{
		@return set-lightness(color-backgrounder($tone), 90%);

	}
	@else if $tone == light{
		@return set-lightness(color-backgrounder($tone), 80%);
		
	}
	@else if $tone == dark{
		@return set-lightness(color-backgrounder($tone), 20%);
		
	}
	@else if $tone == black{
		@return set-lightness(color-backgrounder($tone), 10%);
		
	}
}


$color-primary: color-primaryer($color);
$color-secondary: color-secondaryer($tone);
$color-tertiary: cs-tertiary($color);
$color-text: color-texter($tone);
$color-accent: color-accenter($tone);
$color-background: color-backgrounder($tone);
$color-drawer: color-drawerer($tone);

* body{
	color: $color-text;
	background-color: $color-background;
}
