/* line 8, ../../../../sass/partials/modules/gallery/_variables.scss */
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

/* line 9, ../../../../sass/partials/modules/gallery/_variables.scss */
.gallery .control-button:first-of-type, .items-2 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-2 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-3 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-3 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-3 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-4 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-4 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-4 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-4 .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4), .items-5 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-5 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-5 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-5 .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4), .items-5 .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/* line 41, ../../../../sass/partials/modules/gallery/_gallery.scss */
.gallery .item:first-of-type {
  position: static;
  opacity: 1;
}
/* line 42, ../../../../sass/partials/modules/gallery/_gallery.scss */
.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}
/* line 44, ../../../../sass/partials/modules/gallery/_gallery.scss */
.gallery .control-operator {
  display: none;
}
/* line 46, ../../../../sass/partials/modules/gallery/_gallery.scss */
.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  animation: none;
}
/* line 49, ../../../../sass/partials/modules/gallery/_gallery.scss */
.gallery .control-operator:target ~ .controls .control-button {
  animation: none;
}

@keyframes controlAnimation-2 {
  /* line 7, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  /* line 9, ../../../../sass/partials/modules/gallery/_gallery.scss */
  14.28571%,
  50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  /* line 11, ../../../../sass/partials/modules/gallery/_gallery.scss */
  64.28571%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-2 {
  /* line 15, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../../../../sass/partials/modules/gallery/_gallery.scss */
  14.28571%,
  50% {
    opacity: 1;
  }

  /* line 19, ../../../../sass/partials/modules/gallery/_gallery.scss */
  64.28571%,
  100% {
    opacity: 0;
  }
}

/* line 23, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2.autoplay .control-button {
  animation: controlAnimation-2 14s infinite;
}
/* line 24, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2.autoplay .item {
  animation: galleryAnimation-2 14s infinite;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -2s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s;
}

@keyframes controlAnimation-3 {
  /* line 7, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  /* line 9, ../../../../sass/partials/modules/gallery/_gallery.scss */
  9.52381%,
  33.33333% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  /* line 11, ../../../../sass/partials/modules/gallery/_gallery.scss */
  42.85714%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-3 {
  /* line 15, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../../../../sass/partials/modules/gallery/_gallery.scss */
  9.52381%,
  33.33333% {
    opacity: 1;
  }

  /* line 19, ../../../../sass/partials/modules/gallery/_gallery.scss */
  42.85714%,
  100% {
    opacity: 0;
  }
}

/* line 23, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3.autoplay .control-button {
  animation: controlAnimation-3 21s infinite;
}
/* line 24, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3.autoplay .item {
  animation: galleryAnimation-3 21s infinite;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -2s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 12s;
}

@keyframes controlAnimation-4 {
  /* line 7, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  /* line 9, ../../../../sass/partials/modules/gallery/_gallery.scss */
  7.14286%,
  25% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  /* line 11, ../../../../sass/partials/modules/gallery/_gallery.scss */
  32.14286%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-4 {
  /* line 15, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../../../../sass/partials/modules/gallery/_gallery.scss */
  7.14286%,
  25% {
    opacity: 1;
  }

  /* line 19, ../../../../sass/partials/modules/gallery/_gallery.scss */
  32.14286%,
  100% {
    opacity: 0;
  }
}

/* line 23, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4.autoplay .control-button {
  animation: controlAnimation-4 28s infinite;
}
/* line 24, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4.autoplay .item {
  animation: galleryAnimation-4 28s infinite;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  animation-delay: -2s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  animation-delay: 5s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  animation-delay: 12s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  animation-delay: 19s;
}

@keyframes controlAnimation-5 {
  /* line 7, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  /* line 9, ../../../../sass/partials/modules/gallery/_gallery.scss */
  5.71429%,
  20% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  /* line 11, ../../../../sass/partials/modules/gallery/_gallery.scss */
  25.71429%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-5 {
  /* line 15, ../../../../sass/partials/modules/gallery/_gallery.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../../../../sass/partials/modules/gallery/_gallery.scss */
  5.71429%,
  20% {
    opacity: 1;
  }

  /* line 19, ../../../../sass/partials/modules/gallery/_gallery.scss */
  25.71429%,
  100% {
    opacity: 0;
  }
}

/* line 23, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5.autoplay .control-button {
  animation: controlAnimation-5 35s infinite;
}
/* line 24, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5.autoplay .item {
  animation: galleryAnimation-5 35s infinite;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  animation-delay: -2s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  animation-delay: 5s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  animation-delay: 12s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  animation-delay: 19s;
}
/* line 27, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}
/* line 31, ../../../../sass/partials/modules/gallery/_gallery.scss */
.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  animation-delay: 26s;
}
