$em: 16;

$length-one: $em * 8;/*128*/
$length-two: $length-one * 2;/*256*/
$length-three: $length-one * 3;/*384*/
$length-five: $length-one * 5;/*640*/
$length-eight: $length-one * 8;/*1024*/
$length-thirteen: $length-one * 13;/*1664*/

$width-one: 8em;
$width-two: 16em;
$width-three: 24em;
$width-four: 32em;
$width-six: 48em;
$width-twelve: 96em;

$font-base: null;

@mixin box-shadow{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
}
@mixin text-shadow{
	/*text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.62);*/
}

@mixin key($key){
	@if $key == a {
		html { font-size: 75%;}
		$font-base: 12;
	}
	@else if $key == b {
		html { font-size: 87.5%;}
		$font-base: 14;
	}
	@else if $key == c {
		html { font-size: 100%;}
		$font-base: 16;
	}
	@else if $key == d {
		html { font-size: 112.5%;}
		$font-base: 18;
	}
	@else if $key == e {
		html { font-size: 125%;}
		$font-base: 20;
	}
	@else if $key == f {
		html { font-size: 137.5%;}
		$font-base: 22;
	}
	@else if $key == g {
		html { font-size: 150%;}
		$font-base: 24;
	}
}

@mixin typography-calculator($font-size, $line-height, $padding-top, $padding-bottom){
	font-size: $font-size * 1rem;
	line-height: $line-height * 1rem;
	padding-top: $padding-top * 1rem;
	padding-bottom: $padding-bottom * 1rem;
	margin: 0;
	font-style:normal;
	font-weight: normal;
}




@mixin text-centered {@include typography-calculator(1,2,0.5,0);}
@mixin root-flat {@include typography-calculator(1,1,0.75,0.25);}
@mixin root {@include typography-calculator(1,2,0.75,0.25);}
@mixin root-sharp {@include typography-calculator(1,2,0.75,0.25);font-style:italic;}
@mixin note-b2 {@include typography-calculator(1.067,2,0.6,0.4);}
@mixin note-2 {@include typography-calculator(1.125,2,0.55,0.45);font-weight:bold;}
@mixin note-s2 {@include typography-calculator(1.2,2,0.55,0.45);font-weight:bold;font-style:italic;}
@mixin note-b3 {@include typography-calculator(1.2,2,0.55,0.45);}
@mixin note-3 {@include typography-calculator(1.25,2,0.55,0.45);font-weight:bold;}
@mixin note-4 {@include typography-calculator(1.33,2,0.5,0.5);font-weight:bold;}
@mixin note-s4 {@include typography-calculator(1.414,2,0.45,0.55);font-weight:bold;font-style:italic;}
@mixin note-b5 {@include typography-calculator(1.414,2,0.45,0.55);font-weight:bold;opacity:0.62;}
@mixin note-5 {@include typography-calculator(1.5,2,0.41,0.6);font-weight:bold;}
@mixin note-s5 {@include typography-calculator(1.62,2,0.38,0.6);font-weight:bold;font-style:italic;}
@mixin note-b6 {@include typography-calculator(1.62,2,0.38,0.6);}
@mixin note-6 {@include typography-calculator(1.667,2,0.35,0.65);font-weight:bold;}
@mixin note-s6 {@include typography-calculator(1.778,2,0.25,0.75);font-weight:bold;font-style:italic;}
@mixin note-b7 {@include typography-calculator(1.778,2,0.25,0.75);}
@mixin note-7 {@include typography-calculator(1.875,2,0.25,0.75);font-weight:bold;}
@mixin note-8 {@include typography-calculator(2,2,0.22,0.75);font-weight:bold;}
@mixin note-s8 {@include typography-calculator(2.134,3,0.68,0.3);font-weight:bold;font-style:italic;}
@mixin note-b9 {@include typography-calculator(2.134,3,0.68,0.3);}
@mixin note-9 {@include typography-calculator(2.25,3,0.68,0.3);font-weight:bold;}
@mixin note-s9 {@include typography-calculator(2.4,3,0.54,0.45);font-weight:bold;font-style:italic;}
@mixin note-b10 {@include typography-calculator(2.5,3,0.55,0.45);}
@mixin note-10 {@include typography-calculator(2.5,3,0.55,0.45);font-weight:bold;}
@mixin note-11 {@include typography-calculator(2.66,3,0.47,0.54);font-weight:bold;}
@mixin note-s11 {@include typography-calculator(2.818,3,0.43,0.54);font-weight:bold;font-style:italic;}
@mixin note-b12 {@include typography-calculator(2.818,3,0.43,0.54);}
@mixin note-12 {@include typography-calculator(3,3,0.39,0.6);font-weight:bold;}
@mixin note-s12 {@include typography-calculator(3.201,0.75,0.25);font-weight:bold;font-style:italic;}
@mixin note-b13 {@include typography-calculator(3.201,0.75,0.25);}
@mixin note-13 {@include typography-calculator(3.375,0.7,0.3);font-weight:bold;}



@mixin typography($size){
		@if 		$quality ==  min {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {@include note-3;}
		}
		@else if $quality ==  dim {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b5; $grid-base-height: 1.414em;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  aug {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-s5; $grid-base-height: 1.6em;}
			@else {@include note-3;}
		}
		@else if $quality ==  augmin7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-s5;}
			@else {@include note-3;}
		}
		@else if $quality ==  sus {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else if $size == size-two{	@include note-4;}
			@else {	@include note-4;}
		}
		@else if $quality ==  sus2 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else if $size == size-two{	@include note-2;}
			@else {	@include note-2;}
		}
		@else if $quality ==  eleventh {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-11; $grid-base-height: 2.66em;}
			@else if $size == size-two{	@include note-9;}
			@else if $size == size-three{	@include note-b7;}
			@else if $size == size-four{	@include note-5;}
			@else {@include note-3;}
		}
		@else if $quality ==  min7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-7; $grid-base-height: 1.875em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  dom7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  dim7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-b5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  min6 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-6; $grid-base-height: 1.667em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj6 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-6; $grid-base-height: 1.667em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  domflat9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-b9; $grid-base-height: 2.134em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  domsharp9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-s9; $grid-base-height: 2.4em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  min9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-9; $grid-base-height: 2.25em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-9; $grid-base-height: 2.25em;}
			@else if $size == size-two{	@include note-7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  perfect5 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == vcenter{ @include text-centered}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {	@include note-5;}
		}
}



$max-width: 100%;


$header-height: 5rem;

$nav-height: 3rem;

/*  ======== Flexbox Mixins ==============
	------------------------
	Copyright (c) 2013 Brian Franco
	
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
	------------------------

	This is a set of mixins for those who want to mess
	around with flexbox using the native support of current
	browsers. For full support table check: http://caniuse.com/flexbox

	Basically this will use:
		Fallback, old syntax (IE10, Safari, mobile webkit browsers)
		Prefixed standard syntax (Chrome)
		Final standards syntax (FF, IE11, Opera 12.1)

	------------------------
	This was inspired by: 
		http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
	With help from: 
		http://www.w3.org/TR/css3-flexbox/
		http://the-echoplex.net/flexyboxes/
		http://msdn.microsoft.com/en-us/library/ie/hh772069%28v=vs.85%29.aspx
*/


// Flexbox Inits
// display: flex | inline-flex

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

// Flexbox Direction
// Values: row | row-reverse | column | column-reverse
// Default: row

@mixin flex-direction($value) {
	@if $value == "row" { 
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	} @else if $value == "row-reverse" {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == "column" {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == "column-reverse" {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

	// Shorter version
	@mixin flex-dir($value) {
		@include flex-direction($value)
	}

// Flexbox Wrap
// Values: nowrap | wrap | wrap-reverse 
// Default: nowrap

@mixin flex-wrap($value) {
	// No Webkit Box fallback
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == "nowrap" {
		-ms-flex-wrap: none;
	} 
	@else { 
		-ms-flex-wrap: $value; 
	}
	flex-wrap: $value;
}

// Flexbox Flow (shorthand)
// Values: <flex-direction> | <flex-wrap> 
// Default: row nowrap

@mixin flex-flow($values) {
	// No Webkit Box fallback
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

// Flexbox Order
// Default: 0

@mixin order($int) {
	-webkit-box-ordinal-group: $int+1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

// Flexbox Grow
// Default: 0

@mixin flex-grow($int) {
	-webkit-flex-grow: $int;
	-moz-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}

// Flexbox Shrink 
// Default: 1

@mixin flex-shrink($int) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex-negative: $int;
	flex-shrink: $int;
}

// Flexbox Basis
// Values: Like "width" 
// Default: auto

@mixin flex-basis($value) {
	-webkit-flex-basis: $value;
	-moz-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}

// Flexbox "Flex" (shorthand)
// Values: <flex-grow> <flex-shrink> || <flex-basis>
// Default: 0 1 auto

@mixin flex($fg, $fs, $fb) {
	-webkit-box-flex: $fg;
	-webkit-flex: $fg $fs $fb;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

// Flexbox Justify Content
// Values: flex-start | flex-end | center | space-between | space-around
// Default: flex-start
// (space-* values not supported in older syntaxes)

@mixin justify-content($value) {
	@if $value == "flex-start" {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	}
	@else if $value == "flex-end" {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} 
	@else { 
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}

	// Shorter version
	@mixin flex-just($value) {
		@include justify-content($value);
	}

// Flexbox Align Items
// Values: flex-start | flex-end | center | baseline | stretch
// Default: stretch

@mixin align-items($value) {
	@if $value == "flex-start" {
		-webkit-box-align: start;
		-ms-flex-align: start;
	}
	@else if $value == "flex-end" {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} 
	@else { 
		-webkit-box-align: $value; 
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

// Flexbox Align Self
// Values: auto | flex-start | flex-end | center | baseline | stretch
// Default: auto

@mixin align-self($value) {
	// No Webkit Box Fallback
	-webkit-align-self: $value;
	-moz-align-self: $value;
	@if $value == "flex-start" {
		-ms-flex-item-align: start;
	}
	@else if $value == "flex-end" {
		-ms-flex-item-align: end;
	} 
	@else { 
		-ms-flex-item-align: $value; 
	}
	align-self: $value;
}

// Flexbox Align Content
// Values: flex-start | flex-end | center | space-between | space-around | stretch
// Default: stretch

@mixin align-content($value) {
	// No Webkit Box Fallback
	-webkit-align-content: $value;
	-moz-align-content: $value;
	@if $value == "flex-start" {
		-ms-flex-line-pack: start;
	}
	@else if $value == "flex-end" {
		-ms-flex-line-pack: end;
	} 
	@else { 
		-ms-flex-line-pack: $value; 
	}
	align-content: $value;
}