$em: 16;

$length-one: $em * 8;/*128*/
$length-two: $length-one * 2;/*256*/
$length-three: $length-one * 3;/*384*/
$length-five: $length-one * 5;/*640*/
$length-eight: $length-one * 8;/*1024*/
$length-thirteen: $length-one * 13;/*1664*/

$width-one: 8em;
$width-two: 16em;
$width-three: 24em;
$width-four: 32em;
$width-six: 48em;
$width-twelve: 96em;

@mixin box-shadow{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.62);
}

@mixin key($key){
	@if $key == a {
		* { font-size: 75%;}
	}
	@else if $key == b {
		* { font-size: 087.5%;}
	}
	@else if $key == c {
		* { font-size: 100%;}
	}
	@else if $key == d {
		* { font-size: 112.5%;}
	}
	@else if $key == e {
		* { font-size: 125%;}
	}
	@else if $key == f {
		* { font-size: 137.5%;}
	}
	@else if $key == g {
		* { font-size: 150%;}
	}
}

@mixin typography-calculator($font-size, $line-height, $padding-top, $padding-bottom){
	font-size: $font-size * 1rem;
	line-height: $line-height * 1rem;
	padding-top: $padding-top * 1rem;
	padding-bottom: $padding-bottom * 1rem;
	margin: 0;
}





@mixin root-flat {@include typography-calculator(1,1,0,0);font-weight:normal;}
@mixin root {@include typography-calculator(1,2,0.75,0.25);font-weight: normal;}
@mixin root-sharp {@include typography-calculator(1,2,0.75,0.25);font-style: italic;}
@mixin note-b2 {@include typography-calculator(1.067,2,0.6,0.4);font-weight: normal;}
@mixin note-2 {@include typography-calculator(1.125,2,0.55,0.45);font-weight: bold;}
@mixin note-s2 {@include typography-calculator(1.2,2,0.55,0.45);font-weight: bold;font-style: italic;}
@mixin note-b3 {@include typography-calculator(1.2,2,0.55,0.45);font-weight: normal;}
@mixin note-3 {@include typography-calculator(1.25,2,0.55,0.45);font-weight: bold;}
@mixin note-4 {@include typography-calculator(1.33,2,0.5,0.5);font-weight: bold;text-transform: uppercase;}
@mixin note-s4 {@include typography-calculator(1.414,2,0.45,0.55);font-weight: bold;font-style: italic;}
@mixin note-b5 {@include typography-calculator(1.414,2,0.45,0.55);font-weight: bold;opacity: 0.62;}
@mixin note-5 {@include typography-calculator(1.5,2,0.41,0.6);font-weight: bold;text-transform: uppercase;}
@mixin note-s5 {@include typography-calculator(1.62,2,0.38,0.6);font-weight: bold;font-style: italic;}
@mixin note-b6 {@include typography-calculator(1.62,2,0.38,0.6);font-weight: normal;}
@mixin note-6 {@include typography-calculator(1.667,2,0.35,0.65);font-weight: bold;}
@mixin note-s6 {@include typography-calculator(1.778,2,0.25,0.75);font-weight: bold;font-style: italic;}
@mixin note-b7 {@include typography-calculator(1.778,2,0.25,0.75);font-weight: normal;}
@mixin note-7 {@include typography-calculator(1.875,2,0.25,0.75);font-weight: bold;}
@mixin note-8 {@include typography-calculator(2,2,0.22,0.75);font-weight: bold;text-transform: uppercase;}
@mixin note-s8 {@include typography-calculator(2.134,3,0.68,0.3);font-weight:bold;font-style: italic;}
@mixin note-b9 {@include typography-calculator(2.134,3,0.68,0.3);font-weight: normal;}
@mixin note-9 {@include typography-calculator(2.25,3,0.68,0.3);font-weight: bold;}
@mixin note-s9 {@include typography-calculator(2.4,3,0.54,0.45);font-weight: bold;font-style: italic;}
@mixin note-b10 {@include typography-calculator(2.5,3,0.55,0.45);font-weight: normal;}
@mixin note-10 {@include typography-calculator(2.5,3,0.55,0.45);font-weight: bold;}
@mixin note-11 {@include typography-calculator(2.66,3,0.47,0.54);font-weight: bold;text-transform: uppercase;}
@mixin note-s11 {@include typography-calculator(2.818,3,0.43,0.54);font-weight: bold;font-style: italic;}
@mixin note-b12 {@include typography-calculator(2.818,3,0.43,0.54);font-weight: normal;opacity: 0.62;}
@mixin note-12 {@include typography-calculator(3,3,0.39,0.6);font-weight: bold;text-transform: uppercase;}
@mixin note-s12 {@include typography-calculator(3.201,0.75,0.25);font-weight: bold;font-style: italic;}
@mixin note-b13 {@include typography-calculator(3.201,0.75,0.25);font-weight: normal;}
@mixin note-13 {@include typography-calculator(3.375,0.7,0.3);font-weight: bold;}



@mixin typography($size){
		@if 		$quality ==  min {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {@include note-3;}
		}
		@else if $quality ==  dim {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b5; $grid-base-height: 1.414em;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  aug {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-s5; $grid-base-height: 1.6em;}
			@else {@include note-3;}
		}
		@else if $quality ==  augmin7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-s5;}
			@else {@include note-3;}
		}
		@else if $quality ==  sus {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else if $size == size-two{	@include note-4;}
			@else {	@include note-4;}
		}
		@else if $quality ==  sus2 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else if $size == size-two{	@include note-2;}
			@else {	@include note-2;}
		}
		@else if $quality ==  eleventh {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-11; $grid-base-height: 2.66em;}
			@else if $size == size-two{	@include note-9;}
			@else if $size == size-three{	@include note-b7;}
			@else if $size == size-four{	@include note-5;}
			@else {@include note-3;}
		}
		@else if $quality ==  min7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-7; $grid-base-height: 1.875em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  dom7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  dim7 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b7; $grid-base-height: 1.778em;}
			@else if $size == size-two{	@include note-b5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  min6 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-6; $grid-base-height: 1.667em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-b3;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj6 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-6; $grid-base-height: 1.667em;}
			@else if $size == size-two{	@include note-5;}
			@else if $size == size-three{	@include note-3;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  domflat9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-b9; $grid-base-height: 2.134em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  domsharp9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-s9; $grid-base-height: 2.4em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  min9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-9; $grid-base-height: 2.25em;}
			@else if $size == size-two{	@include note-b7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-b3;}
			@else {	@include note-b3;}
		}
		@else if $quality ==  maj9 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-9; $grid-base-height: 2.25em;}
			@else if $size == size-two{	@include note-7;}
			@else if $size == size-three{	@include note-5;}
			@else if $size == size-four{	@include note-3;}
			@else {@include note-3;}
		}
		@else if $quality ==  perfect5 {
			@if 		$size == size-base{	@include root;}
			@else if $size == size-span{ @include root-flat;}
			@else if $size == size-one{	@include note-5; $grid-base-height: 1.5em;}
			@else {	@include note-5;}
		}
}



$max-width: 100%;


$header-height: 5rem;

$nav-height: 3rem;

