.logo{
	display: inline-block;
	float: left;
	height: #{$unit-scalar-height-nav};
	margin-top: #{$unit-scalar-height-nav / 4};
	margin-left: $unit-scalar-gutter;
	@include prefixer(transition, all $unit-time-transition $style-animation-ease);	
	z-index: 110;
}