// The Site Header
//
// The site header is the site's title. It appears on every page. The header defines a section,
// so the h1 element should be used
//
// header>h1
h1{
	display: inline-block;
	float: left;
	line-height: #{$unit__header--height};
	margin-top: 0;
	padding: 0;
	white-space: nowrap;
	width: auto;
	z-index: 110;
	@include font-properties-for(h2);
	margin-left: $unit__gutter--width;
	color: $color__header--h1;
	@include prefixer(transition, all $length__transition $style__animation-ease);
}