// The default header
// 
// | body>input.slide-toggle+header.X>img+h1+address+input[type="search"]+section.X+nav>ul>li*$
@import ".slide-toggle";
>header{
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: content-box;
	min-height: $unit__nav--height;
	display: block;
	height: $unit__header--height;
	z-index: 9999;
	@include column(1,1);
	@include object($color-drawer, $unit__header--opacity);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: none;
	@import "address";
	@import "nav";
	@import "h1";
	@import "img/index";
	@import "input--search";
	@import "section/index";
	@import "classes/index";
	@include media-from($unit__base-x-two){
		@include column(2,2);
		& + main{
			padding-top: #{$unit__header--height};}}
	@include media-from($unit__base-x-three){
		@include column(3,3);
		& + main{
			padding-top: #{$unit__header--height};}}
	@include media-from($unit__base-x-five){
		@include column(5,5);
		& + main{
			padding-top: #{$unit__header--height};}}
	@include media-from($unit__base-x-eight){
		@include column(8,8);
		//height: #{$unit__header--height + $unit__nav--height};
		& + main{
			padding-top: #{$unit__header--height + $unit__nav--height};}}
	@include media-from($unit__base-x-thirteen){
		@include column(13,13);
		& + main{
			padding-top: #{$unit__header--height + $unit__nav--height};}}
}