nav{
	float: right;
	>address{
		height: $unit__header--height;
		align-items: center;
		display: flex;
		float: right;
		a{
			height: #{$unit__header--height};
			&,
			&:before{
				color: $color-primary;
				text-decoration: none;
			}
		}
	}
	>ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		float: right;
		li{
			display: flex;
			padding: 0 $unit__gutter--width;
			@include media-from($length-mobile-cutoff){
				padding: 0 0.5rem;}
			height: $unit__header--height;
			align-items: center;
			position: relative;
			&:hover{
				background-color: $color-primary;
				color: $color-background;	
				>ul{
					@include box-shadow($color-drawer);
					@include prefixer(transform, scale3d(1,1,1));	
				}
			}
			a{
				text-decoration: none;
				&:hover{
					color: $color-background;
				}
			}
			>ul{
				padding: 0;
				position: absolute;
				width: auto;
				min-width: 100%;
				@include media-to($length-mobile-cutoff){
					width: 100%;
					max-height: #{$unit__base-x-two * 1px};
					overflow-y: scroll;}
				display: block;
				right: 0;
				top: 3rem;
				background: $color-drawer;
				@include prefixer(transform, scale3d(1,0,1));
				@include prefixer(transform-origin, 100% 0%);
				@include transition(0.1ss);
				>li{
					width: 100%;
					display: table;
					float: left;
					>a{
						display: table-cell;
						color: $color-text;
						vertical-align: middle;
					}
				}
			}
		}
		>div + li{		
			border-top: 1px solid $color-text;
			@include media-from($length-mobile-cutoff){
				border-left: 1px solid $color-text;
				border-top: none;
			}
		}	
	}
}