progress{
	-webkit-appearance: none;
	display:block;
	height: 1rem;
	width: 100%;
	vertical-align: 0;
	&::-webkit-progress-inner-element{
		background: $color-input-background;
		@include box-shadow-inset($color-input-background);}
	&::-webkit-progress-value{
		background-color: $color-green;
		border-right: 1px solid mix($color-tint, $color-green);
		box-shadow: 0 0 $unit-scalar-shadow-blur $color-green;}
	&::-webkit-progress-bar{
		background: transparent;
		height: calc(100% + #{$unit-scalar-shadow-y});
		bottom: #{$unit-scalar-shadow-y};
		position: relative;		
		overflow: visible;
	}
}