// Placeholder selectors for styling things with icons. Yay

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);



/**
* SETUP
----------------------------------------------------------------------
*/

a:before, a:after {
	font-family: 'auticons';
	font-weight: normal !important;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased;
}

a:before { padding-right: 0.125em }

/**
* NEW TAB / WINDOW
* Appears in conjunction with any of the other rules if applicable
----------------------------------------------------------------------
*/

[target="_blank"]:after {
}

/**
* LINKS TO SECURE PAGES
----------------------------------------------------------------------
*/

[href^="https:"]:before {
}

/**
* LINK RELATIONS (http://blog.whatwg.org/the-road-to-html-5-link-relations)
----------------------------------------------------------------------
*/

/* author pages */

[rel="author"]:before,
[href*="rel=author"]:before {
}

/* help pages */

[rel="help"]:before {
}

/* tag archives */

[rel="tag"]:before {
}

/* permalinks */

[rel="bookmark"]:before {
}

/* previous and next pages/fragments */ 

[rel="prev"]:before {
}

[rel="next"]:after {
}

/**
* PROTOCOLS
----------------------------------------------------------------------
*/

/* email */

[href^="mailto:"]:before {
}

/* telephone */

[href^="tel:"]:before {
}

/* source code */

[href^="view-source:"]:before {
}

/**
* DOCUMENTS
----------------------------------------------------------------------
*/

/* .pdf */

[href$=".pdf"]:before {
}

/* .doc */

[href$=".doc"]:before {
}

/* text */

[href$=".txt"]:before, 
[href$=".md"]:before {
}

/**
* RSS & XML
----------------------------------------------------------------------
*/

[href$=".xml"]:before {
}

[href$=".rss"]:before, 
[href$="rss.xml"]:before, 
[href*="/feed/"]:before,
[href*="/rss/"]:before {
}

/**
* JAVASCRIPT & JSON
----------------------------------------------------------------------
*/

[href$=".js"]:before, 
[href*="/js/"]:before, 
[href*="/javascript/"]:before, 
[href$=".json"]:before {
}

/**
* IMAGES
----------------------------------------------------------------------
*/

[href$=".jpg"]:before, 
[href$=".jpeg"]:before, 
[href$=".png"]:before, 
[href$=".gif"]:before {
}

/**
* DOWNLOADS
----------------------------------------------------------------------
*/

/* executables and generic */

[href$=".exe"]:before,
[href*="/download/"]:before {
}

/* packages */

[href*=".zip"]:before, 
[href*=".gz"]:before {
}

/**
* COMMON SOCIAL PROFILES
----------------------------------------------------------------------
*/

/* twitter */

[href*="twitter.com/"]:before {
}

/* facebook */

[href*="facebook.com/"]:before {
}

/* linkedin */

[href*="linkedin.com/"]:before {
}

/* google+ */

[href*="plus.google.com/"]:before {
}

/* youtube */

[href*="youtube.com/"]:before,
[href*="youtu.be/"]:before {
}

/* github */

[href*="github.com/"]:before {
}

/* tumblr */
[href*="tumblr.com/"]:before {
}

/**
* ARIA PRESSED
----------------------------------------------------------------------
*/

[role="button"][aria-pressed="true"]:before, button[aria-pressed="true"]:before {
}

[role="button"][aria-pressed="false"]:before, button[aria-pressed="false"]:before {
}