@import "variables"; 
@include media-from(nth($units-scalar, 2)){
	.row>*{
		flex-basis: #{nth($units-scalar, 2) * 1px}}}



@media all and (min-width:#{nth($units-scalar, 8) * 1px}){
	.row{
		display: flex;		
		>*{
			display: flex;
			flex-grow: 1;}
		>.row{
			max-width: 50%;
			flex-basis: 49%;}
		>.two{
			flex-grow: 2;}
		>.three{
			flex-grow: 3;}
		>.four{
			flex-grow: 4;}}}

@media all and (min-width:#{nth($units-scalar, 5) * 1px}) and (max-width:#{nth($units-scalar, 8) * 1px}){
	.row{
		display: flex;

		>*{
			display: flex;
			flex-grow: 1;}
		>.row{
			display: block;
			width: 100%;
			flex-basis: 100%;
			>*{
				flex-basis: 49%;
				float: left;
				width: 50%;}}}}

@media all and (min-width: 0px) and (max-width:#{nth($units-scalar, 5) * 1px}){
	.row{
		display: block;
		>*{
			display: block;}}}
.row{
	width: 100%;
	flex-wrap: wrap;
	@include clearfix;
	>div{
		>*{
			width: 100%;
		}
		}}
.column{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	&>*{
		margin: 0 auto;}}