$color: null;
$scheme: null;
$tone: null;
$em: null;
$unit__base-x-one: null;
$unit__base-x-two: null;
$unit__base-x-three: null;
$unit__base-x-four: null;
$unit__base-x-five: null;
$unit__base-x-eight: null;
$unit__base-x-thirteen: null;
$length-mobile-cutoff: null;
$font-base: null;
$max-width: null;
$unit__header--height: null;
$unit__nav--height: null;
$length__transition: null;
$color__3d--dark: null;
$color__3d--light: null;
$unit__border-radius: null;
$unit__header--opacity: null;
$unit__shadow-size: null;
$unit__shadow-blur: null;
$unit__shadow-opacity: null;
$height-form-input: null;
$style__animation-ease: null;
$unit__line-height: null;
$color-input-background: null;
$color__header--h1: null;

$article-margin-length-one: null;
$article-margin-length-two: null;
$article-margin-length-three: null;
$article-margin-length-five: null;
$article-margin-length-eight: null;
$article-margin-length-thirteen: null;

$small-text: null;
$root-flat: null;
$root: null;
$root-sharp: null;
$noteb2: null;
$note2: null;
$notes2: null;
$noteb3: null;
$note3: null;
$note4: null;
$notes4: null;
$noteb5: null;
$note5: null;
$notes5: null;
$noteb6: null;
$note6: null;
$notes6: null;
$noteb7: null;
$note7: null;
$note8: null;
$notes8: null;
$noteb9: null;
$note9: null;
$notes9: null;
$noteb10: null;
$note10: null;
$note11: null;
$notes11: null;
$noteb12: null;
$note12: null;
$notes12: null;
$noteb13: null;
$note13: null;

$color__earth-tone--a: null;
$color__earth-tone--b: null;
$color__earth-tone--c: null;
$color__earth-tone--d: null;
$color__earth-tone--e: null;
$color__earth-tone--f: null;
$color__earth-tone--g: null;
$color__earth-tone--h: null;
$color__earth-tone--i: null;
$color__earth-tone--j: null;
$color__earth-tone--k: null;
$color__earth-tone--l: null;
$color__earth-tone--m: null;
$color__earth-tone--n: null;
$color__earth-tone--o: null;
$color__earth-tone--sky: null;