$color: #ff0000 !default;
$em: 16 !default;
$unit__base-x-one: $em * 8 !default;
$unit__base-x-two: $unit__base-x-one * 2 !default;
$unit__base-x-three: $unit__base-x-one * 3 !default;
$unit__base-x-four: $unit__base-x-one * 4 !default;
$unit__base-x-five: $unit__base-x-one * 5 !default;
$unit__base-x-eight: $unit__base-x-one * 8 !default;
$unit__base-x-thirteen: $unit__base-x-one * 13 !default;
$unit__gutter--width: 1rem;
$length-mobile-cutoff: $unit__base-x-eight !default;
$font-base: null !default;
$max-width: 60em !default;
$unit__header--height: 3rem !default;
$unit__nav--height: 2rem !default;
$length__transition: 0.4s !default;
$unit__border-radius: 2px !default;
$unit__header--opacity: 1 !default;
$unit__shadow-size: 2px !default;
$unit__shadow-blur: 3px !default;
$unit__shadow-opacity: 0.45 !default;
$color__3d--dark: rgba(0,0,0,$unit__shadow-opacity) !default;
$color__3d--light: rgba(255,255,255,$unit__shadow-opacity) !default;
$height-form-input: 1.5rem !default;
$style__animation-ease: ease-in-out !default;
$unit__line-height: 1rem !default;


$article-margin-length-one: 0.5rem !default;
$article-margin-length-two: 1rem !default;
$article-margin-length-three: 2rem !default;
$article-margin-length-five: 3rem !default;
$article-margin-length-eight: 4rem !default;
$article-margin-length-thirteen: 5rem !default;

$small-text: 0.85, 1, 0.75, 0.25, normal, normal;
$root-flat: 1, 1, 0.75, 0.25, normal, normal;
$root: 1, 2, 0.75, 0.25, normal, normal;
$root-sharp: 1, 2, 0.75, 0.25, normal, italic;
$noteb2: 1.067, 2, 0.6, 0.4, normal, normal;
$note2: 1.125, 2, 0.6, 0.4, bold, normal;
$notes2: 1.2, 2, 0.6, 0.4, bold, italic;
$noteb3: 1.2, 2, 0.6, 0.4, normal, normal;
$note3: 1.25, 2, 0.55, 0.45, bold, normal;
$note4: 1.33, 2, 0.5, 0.5, bold, normal;
$notes4: 1.414, 2, 0.55, 0.45, bold, italic;
$noteb5: 1.414, 2, 0.55, 0.45, bold, normal;
$note5: 1.5, 2, 0.47, 0.54, bold, normal;
$notes5: 1.62, 2, 0.38, 0.6, bold, italic;
$noteb6: 1.62, 2, 0.38, 0.6, normal, normal;
$note6: 1.667, 2, 0.35, 0.65, bold, normal;
$notes6: 1.778, 2, 0.41, 0.59, bold, italic;
$noteb7: 1.778, 2, 0.41, 0.59, normal, normal;
$note7: 1.875, 2, 0.25, 0.75, bold, normal;
$note8: 2, 2, 0.22, 0.75, bold, normal;
$notes8: 2.134, 3, 0.68, 0.3, bold, italic;
$noteb9: 2.134, 3, 0.68, 0.3, normal, normal;
$note9: 2.25, 3, 0.72, 0.26, bold, normal;
$notes9: 2.4, 3, 0.54, 0.45, bold, italic;
$noteb10: 2.5, 3, 0.55, 0.45, normal, normal;
$note10: 2.5, 3, 0.55, 0.45, bold, normal;
$note11: 2.66, 3, 0.67, 0.34, bold, normal;
$notes11: 2.818, 3, 0.43, 0.54, bold, italic;
$noteb12: 2.818, 3, 0.43, 0.54, normal, normal;
$note12: 3, 3, 0.39, 0.6, bold, normal;
$notes12: 3.201, 4, 0.75, 0.25, bold, italic;
$noteb13: 3.201, 4, 0.75, 0.25, normal, normal;
$note13: 3.375, 4, 0.7, 0.3, bold, normal;

$color__earth-tone--a: #35291F;
$color__earth-tone--b: #695B4E;
$color__earth-tone--c: #988F76;
$color__earth-tone--d: #482714;
$color__earth-tone--e: #6C4B1A;
$color__earth-tone--f: #B69A71;
$color__earth-tone--g: #6C3108;
$color__earth-tone--h: #C57200;
$color__earth-tone--i: #EEDB74;
$color__earth-tone--j: #333C1A;
$color__earth-tone--k: #66883F;
$color__earth-tone--l: #AFCA90;
$color__earth-tone--m: #45525D;
$color__earth-tone--n: #7A8491;
$color__earth-tone--o: #ADB6BB;
$color__earth-tone--sky: #6B9BE3;