// The main header
// 
// The main header is used for displaying a large banner at the top of a page.
// 
// to add: headers, text, images, figures, and tables? look up examples
&{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 100vw;
	padding: $unit-scalar-gutter;
}