
// The main navigation sidebar. Useful for navigating large documents.
//nav 				- Fixed, two columns wide, #{$color-background} background
//	ol, ul 			- Lists inside the main navigation
//		li, 		- List items one level down
//			a 		- Links
//		ol, ul 		- Second-level lists
//			li 		- items
//				a 	- links
//	& ~ article,	- articles
//	& ~ section: 	- or sections adjacent to the nav and requiring shifting

& {
	position: fixed;
	width: #{nth($units-scalar, 2) * 1px};
	padding-left: $unit-scalar-gutter;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	z-index: 9999;
	background-color: $color-background;
	@include transition;
	&:hover:nth-of-type(n) {
		//keeps it focused when the header is collapsed
		opacity: 1;
	}
	@include media-from($unit-scalar-mobile-cutoff) {
		margin-top: #{$unit-scalar-height-nav * -1};
	}

	@include media-to($unit-scalar-mobile-cutoff) {
		display: none;
	}

	ol,
	ul {
		padding-left: #{$unit-scalar-gutter * 1.5};
		li {
			margin-bottom: $unit-scalar-gutter;
			margin-left: -1px;
		}
		> ol,
		ul {
			padding-left: #{$unit-scalar-gutter};
		}
	}
	li > ol,
	li > ul {
		padding-left: $unit-scalar-gutter * 1.5;
		padding-top: $unit-scalar-gutter;
		border-left: 1px solid transparent;
		box-sizing: content-box;
		>li>a {
			padding-left: $unit-scalar-gutter;
			margin-left: #{$unit-scalar-gutter * -1};
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	li>ul {
		list-style-type: none;
	}
	li>a {
		text-decoration: none;
		border-bottom: 1px solid transparent;
	}
	& ~ article,
	& ~ section {
		//adjacent articles and sections should be shifted over
		@include transition;
		@include media-from($unit-scalar-mobile-cutoff) {
			margin-left: #{nth($units-scalar, 2) / 16 + $unit-scalar-gutter * 4};
			margin-right: #{$unit-scalar-gutter * 4};
		}
	}
}