address{
	position: absolute;
	bottom: #{$unit-scalar-height-nav};
	height: #{$unit-scalar-height-header};
	left: 0;
	padding-left: 0.5rem;
	z-index: 110;
	a{
		line-height: #{$unit-scalar-height-header};
		height: #{$unit-scalar-height-header};
		&, &:before{
			color: $color-primary;
			text-decoration: none;}}
	@include media-from(nth($units-scalar, 2)){}
	@include media-from(nth($units-scalar, 3)){}
	@include media-from(nth($units-scalar, 5)){}
	@include media-from(nth($units-scalar, 8)){
		a{
			color: $color-background;}}
	@include media-from(nth($units-scalar, 13)){}
	@include media-to($unit-scalar-mobile-cutoff){
		margin-top: 0;
		width: auto;
		height: #{$unit-scalar-height-nav};
		background-color: $color-drawer;				
		top: 0;
		left: 0;
		padding-left: 0.5rem;
		text-align: center;
		border-bottom: 1px solid $color-drawer;
		a{
			line-height: #{$unit-scalar-height-nav};
			height: #{$unit-scalar-height-nav};
		}
		& + ul{
			top: #{$unit-scalar-height-nav};
		}
	}
}
