// Dictionary Definitions
//
// An ordered list within a definition list is formatted as a dictionary definition. A nested ordered list contains definitions
&{
	padding: 0;
	dt {
		font-size: typography(p, font-size) * 1rem;
		font-weight: bold;
		display: inline;
		padding: 0;
		line-height: typography(p, font-size) * 1rem;
		font-family: $sans;
		position: relative;
		margin-right: -1.25rem;
	}
	dd {
		font-family: $serif;
		@include font-properties-for(p);
		line-height: 1rem;
	}
	>li {
		padding: 0 #{$unit-scalar-gutter * 2} $unit-scalar-gutter 0;
		display: inline;
		float: left;
		@include media-from($unit-scalar-mobile-cutoff) {
			width: 50%;
		}

		width: 100%;
		text-align: justify;
		ol {
			padding: 0;
			display: inline;
			position: relative;
			left: $unit-scalar-gutter;
			counter-reset: li;
			li {
				display: inline;
				&:before {
					content: counter(li) ".";
					counter-increment: li;
					margin-right: 0.2rem;
					font-family: $serif;
					font-weight: bold;
				}
			}
			dd {
				margin: 0;
				display: inline;
			}
		}
	}
}