address{
	a{
		display: block;
		//@include typography(size-base);
	}
	a.tel{@include typography(size-base);}
	a.html{@include typography(size-base);}
	a.mail{
		span.streetAddress{
			&:after{
				content: " ";
			}
		}
		span.addressLocality{
			&:after{
				content: " ";
			}
		}
		span.addressRegion{
			&:after{
				content: " ";
			}
		}
		span.postalCode{
			&:after{
				content: " ";
			}
		}
		span.addressCountry{}
	}
	a.email{@include typography(size-base);}
	a.gps{}
	@mixin social{
		&:before{
			display: block;
			font-family: "Entypo";
			text-decoration: none;
			color: $color-tertiary;
			float: left;
			margin: 0 0.38rem;
		}
	}
	a.twitter{
		@include social;
		&:before{
			content: "\f309";
		}
	}
	a.gplus{
		@include social;
		&:before{
			content: "\f30f";
		}
	}
	a.facebook{
		@include social;
		&:before{
			content: "\f30c";
		}
	}
	a.linkedin{
		@include social;
		&:before{
			content: "\f318";
		}
	}
	a.tumblr{
		@include social;
		&:before{
			content: "\f315";
		}
	}
	a.instagram{
		@include social;
		&:before{
			content: "\f32d";
		}
	}
	a.dribbble{
		@include social;
		&:before{
			content: "\f31b";
			
		}
	}
}