//////////////////////////////
// FIGURE
//
// Use cases:
//
// Article image : article > figure
//
//////////////////////////////
figure{
	width: 50%;//a problem
	&:nth-of-type(even){
		padding-right: 1rem;
	}
	&:nth-of-type(odd){
		float: right;
		padding-left: 1rem;
		text-align: center;
	}
	img{
		width: 100%;
	}
	figcaption{
		font-size: 0.85rem;
		line-height: 1rem;
		font-family: '#{$heading-font}';
	}
	video{}
	audio{}
	pre{}
	figure{
		img{}
		figcaption{}
	}
	.slider{}
}