//////////////////////////////
// FIGURE
//
// Use cases:
//
// Article image : article > figure
//
//////////////////////////////
figure{
	img{}
	figcaption{
		font-size: 0.85rem;
		line-height: 1rem;
		font-family: '#{$heading-font}';
	}
	video{}
	audio{}
	pre{}
	figure{
		img{}
		figcaption{}
	}
	.slider{}
}