
.row{
	float: left;
	width: 100%;
	margin: 0;			
	padding: 0;
	display: table;
	table-layout: fixed;
	> div, >li{
		display: block;		
		table-layout: fixed;	
		vertical-align: top;
		width: 50%;
		&.column{
			padding:0.5rem;		
		}
		> *{
			display: block;
			width: 100%;
		}
		> .row{
			display: table;
		}
	}	
}

div.two{
	width: 100%;
}
div.three{
	width: 150%;
}
div.four{
	width: 200%;
}

@media all and (min-width: 0px) and (max-width:#{$length-five * 1px}){
	div.two, div.three, div.four{width:100%}
	.row{
		display: block;
		> div, >li{
			width: 100%;
		}
	}
}

@media all and (min-width: #{$length-five * 1px}) and (max-width:#{$length-eight * 1px}){
	div.two, div.three, div.four{
		width: 50%;
	}
	.row{
		> div{
			float:left;	
			.row{
				>div{					
					display: table-cell;
				}

			}			
			&:nth-last-of-type(2) + div:nth-of-type(odd){
				width: 100%;
			}
		}
		> li{
			float: left;
			&:nth-last-of-type(2) + li:nth-of-type(odd){
				width: 100%;
			}
		}		
	}
}

@media all and (min-width:#{$length-eight * 1px}){
	.row{
		> div, >li{
			display: table-cell;
		}
	}
}
