@if $key == 'a' {		
	html {font-size: 75%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 62.5%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 50%;}}
	$font-base: 12;}

@else if $key == 'b' {	
	html {font-size: 87.5%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 75%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 62.5%;}}	
	$font-base: 14;}

@else if $key == 'c' {	
	html {font-size: 100%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 87.5%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 75%;}}	
	$font-base: 16;}

@else if $key == 'd' {	
	html {font-size: 112.5%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 100%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 87.5%;}}
	$font-base: 18;}

@else if $key == 'e' {	
	html {font-size: 125%;/*find me*/}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 112.5%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 100%;}}	
	$font-base: 20;}

@else if $key == 'f' {	
	html {font-size: 137.5%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 125%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 112.5%;}}	
	$font-base: 22;}

@else if $key == 'g' {	
	html {font-size: 150%;}
	@include betwixt($unit__base-x-two, $unit__base-x-three){
		html {font-size: 137.5%;}}	
	@include betwixt($unit__base-x-one, $unit__base-x-two){
		html {font-size: 125%;}}
	$font-base: 24;}

small{
	color: mix($color-text, $color-background);
	font-size: typography(small,font-size) * 1rem;
	line-height: typography(small,line-height) * 1rem;
	padding-top: typography(small,padding-top) * 1rem;
	padding-bottom: typography(small,padding-bottom) * 1rem;	
	font-weight: typography(small,font-weight);
	font-style: typography(small,font-style);}

	
h1{
	@include font-properties-for(h1);
	color: $color-primary;
	font-family: '#{$heading-font}';
	&>small{
		@include font-properties-for(h2);
		color: mix($color-primary, $color-background);
		line-height: 1em;
		display: inline;}
	&.uber,
	.uber &{
		@include font-properties-for(h1,2);
		small{
			@include font-properties-for(h2,2);}}}

h2{
	@include font-properties-for(h2);
	color: $color-secondary;
	font-family: '#{$heading-font}';
	&>small{
		@include font-properties-for(h3);
		color: mix($color-secondary, $color-background);
		line-height: 1em;
		display: inline;}
	&.uber,
	.uber &{
		@include font-properties-for(h2,2);
		small{
			@include font-properties-for(h3,2);}}}

h3{
	@include font-properties-for(h3);
	color: $color-tertiary;
	font-family: '#{$heading-font}';
	&>small{
		@include font-properties-for(h4);
		color: mix($color-tertiary, $color-background);
		line-height: 1em;
		display: inline;}
	&.uber,
	.uber &{
		@include font-properties-for(h3,2);
		small{
			@include font-properties-for(h4,2);}}}

h4{
	@include font-properties-for(h4);
	color: $color-text;
	font-family: '#{$heading-font}';
	&>small{
		@include font-properties-for(h5);
		color: mix($color-text, $color-background);
		line-height: 1em;
		display: inline;}
	&.uber,
	.uber &{
		@include font-properties-for(h4,2);
		small{
			@include font-properties-for(h5,2);}}}

h5{
	@include font-properties-for(h5);
	margin: 0;
	color: $color-text;
	font-family: '#{$heading-font}';
	&>small{
		@include font-properties-for(p);
		color: mix($color-text, $color-background);
		line-height: 1em;
		display: inline;}
	&.uber,
	.uber &{
		@include font-properties-for(h5,2);
		small{
			@include font-properties-for(p,2);}}}

p, time{
	@include font-properties-for(p);
	line-height: #{typography(p,line-height) * ($unit__line-height)};
	font-family: '#{$body-font}';
	&.uber,
	.uber &{
		@include font-properties-for(p,2);}}

a,a:visited{
	color: inherit;
	text-decoration: underline;
	&:hover{
		color: $color-accent;}}

small:before{
	content: " ";}


/*needs to be less intrusive
p.drop-cap:first-letter, article>p:first-of-type:first-letter, article>h1 + p:first-letter{
	float: left;
	margin-right: 1rem;
	font-size: 7em;
	line-height: 0.9;
	margin-bottom: -0.1em;

}

article>h2 + p:first-letter, article>h3 + p:first-letter, article>h4 + p:first-letter, article>h5 + p:first-letter{
	float: left;
	margin-right: 0.5rem;
	font-size: 4em;
	line-height: 1;	
}


article>p:first-of-type::first-line{font-variant:small-caps;text-transform:lowercase;}*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);


