
aside{
	padding-top: 2px;
	margin: 0.5rem 0;
	box-sizing: border-box;
	position: relative;
	p{
		color: $color-secondary;
	}
	ul{
		text-align: left;
		&:nth-of-type(even){
			padding-right: 1rem;
		}
		&:nth-of-type(odd){
			padding-left: 1rem;
		}
	}
	&:nth-of-type(odd){
		float: left;
		text-align: right;
		padding-right: 1rem;
		> p{}
	}
	&:nth-of-type(even){
		float: right;
		text-align: left;
		padding-left: 1rem;
		> p{}
	}
	
}
