//////////////////////////////
// BLOCKQUOTE
//
// Use cases:
//
// Article pull quote : article > blockquote.pullquote
// -When pulling a quote from an article for emphasis
//
//////////////////////////////


blockquote{
	padding-top: 2px;
	margin: 1rem 0 0 0;
	box-sizing: border-box;
	text-align: center;
	p{
		font-size: typography(h4,font-size) * 1rem;
		line-height: typography(h4,line-height) * 1rem;
		padding-top: typography(h4,padding-top) * 1rem;
		padding-bottom: typography(h4,padding-bottom) * 1rem;
		color: $color-secondary;
	}
	>img{
		width: 100%;
	}
	article &:nth-of-type(odd){
		float: left;
		text-align: right;
		position: relative;		
		padding-right: 1rem;	
		> p{}
		> cite{float: right;text-align: right;}
	}
	article &:nth-of-type(even){
		float: right;
		text-align: left;
		position: relative;
		padding-left: 1rem;	
		> p{}
		> cite{float: left;text-align: left;}
	}
	> cite{
		font-family: $sans;
		color: $color-secondary;		
		font-size: 0.85rem;
		line-height: 1rem;
		margin-bottom: 1rem;
		&:before{
			content: "- ";
		}
	}
}