article dl{
	float: left;
	clear: both;
	font-family: '#{$body-font}';
	dt{
		font-size: typography(p,font-size) * 1rem;
		line-height: typography(p,line-height) * 1rem;
		padding-top: typography(p,padding-top) * 1rem;
		padding-bottom: typography(p,padding-bottom) * 1rem;
	}
	dd{
		font-size: typography(small,font-size) * 1rem;
		line-height: typography(small,line-height) * 1rem;
		padding-top: typography(small,padding-top) * 1rem;
		padding-bottom: typography(small,padding-bottom) * 1rem;
	}
	span{
		/*inline definitions*/
		display: block;
		dt{
			display: inline-block;
			float: left;
			margin: 0;
			&:after{
			content: ":";
			}
		}
		dd{
			display: inline-block;
			float: left;
			margin: 0;
		}
	}
	ol{
		/*dictionary definitions*/
		dt{
			
			

		}
		dl{
			
			

		}
	}
}