dl{
	font-family: '#{$body-font}';
	dt{
		@include typography(size-base);
	}
	dd{
		@include typography(size-base);
	}
	span{
		/*inline definitions*/
		display: block;
		dt{
			display: inline-block;
			float: left;
			margin: 0;
			&:after{
			content: ":";
			}
		}
		dd{
			display: inline-block;
			float: left;
			margin: 0;
		}
	}
	ol{
		/*dictionary definitions*/
		dt{
			
			

		}
		dl{
			
			

		}
	}
}