//////////////////////////////
// FIGURE
//
// Use cases:
//
// Article image : article > figure
//
//////////////////////////////
figure{
	img{}
	figcaption{
		font-size: 0.85rem;
		line-height: 1rem;
		font-family: '#{$heading-font}';
		position: relative;
		bottom: -0.2rem;
	}
	video{}
	audio{}
	pre{}
	figure{
		img{}
		figcaption{}
	}
	.slider{}
}


.post{
	img{}
	cite{}
	figure{
		p{}
		img{}
		video{}
		audio{}
	}
	time{}
	a{}
	section.comments{
		figure{
			margin-left: 1rem;
		}
	}
}