//////////////////////////////
// FIGURE
//
// Use cases:
//
// Article image : article > figure
//
//////////////////////////////
figure{
	width: 100%;
	img{
		& + figcaption{
			color: mix($color-text, $color-background);
			font-size: typography(small,font-size) * 1rem;
			line-height: typography(small,line-height) * 1rem;
			padding-top: typography(small,padding-top) * 1rem;
			padding-bottom: typography(small,padding-bottom) * 1rem;
			font-family: '#{$heading-font}';
			position: relative;
			bottom: typography(small,padding-top) * 1rem;
			text-align: center;
		}
	}
	
	video{}
	audio{}
	pre{}
	figure{
		img{}
		figcaption{}
	}
	.slider{}
}


.post{
	img{}
	cite{}
	figure{
		p{}
		img{}
		video{}
		audio{}
	}
	time{}
	a{}
	section.comments{
		figure{
			margin-left: 1rem;
		}
	}
}