textarea{
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	padding: $unit__gutter--width 0 0 0.62rem;
	border: 0;
	color: $color-text;
	overflow: auto;
	vertical-align: top;
	background-color: $color-input-background;
	@if $skeu == 'faux-flat' {
		border-radius: $unit__border-radius;}
	@include box-shadow-inset($color-input-background);	
	&:disabled{
		@include input-disabled;}}