header{
	background-color: $color-primary;	
	height: #{$header-height + $nav-height};//only on larger screens. move inside mq
	position: fixed;
	top: 0;
	left: 0;
	/*multiple headers get styled into tabs. See foxnews for example*/
	.logo{/*site logo*/
		display: inline-block;
		position: absolute;
		float: left;
    	height: #{$nav-height};
    	margin-top: #{($header-height - $nav-height) / 2};
    	//margin-left: 1rem;
	}
	h1{/*site tite*/
		color: $color-background;
		display: inline-block;
		float: left;
		line-height: #{$header-height};
		margin-top: 0;
		padding: 0;
		white-space: nowrap;
	}
	.logo + h1{
		margin-left: #{$nav-height + 1.5rem};
	}
	address{
		height: #{$nav-height};
		a, a:before{
			color: $color-background;
			text-decoration: none;
		}
	}

	section{
		&.masthead{
			position: absolute;
			margin: 0 auto;
			white-space: nowrap;
			
			/*masthead should be centered on page*/
			.logo{/*site logo*/}
			h1{/*site title*/}
			address{/*address info*/}
		}
		&.user{
			background-color: $color-drawer;
			//padding: 0.38rem 0 0.62rem 0;
			//margin-right: 1rem;
			height: #{$nav-height};
			display: table;
			@include box-shadow($color-drawer);
			position: absolute;
			right: 0;
			top: 0;
			text-align: center;
			//float: right;
			a{
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
				/*&:after{
					content: " |";
				}
				&:last-of-type:after{
					content: "";
				}*/
				//margin: 0.38rem 1rem 0.62rem 1rem;
			}
		}
		&.search{
			//position: fixed;
			//top: 2rem;
			//right: 0;
			position: absolute;
			top: 3rem;
			right: 1rem;
			height: 2rem;
			text-align: right;
			form {
				height: 2rem;
				input[type="search"]{
					height: 1.5rem;
					margin-top: 0.25rem;
					@include box-shadow-inset($color-primary);				
				}
				input[type="submit"]{
					height: 1.5rem;
					margin-top: 0.25rem;
					border: 0;
					padding: 0 0.5rem;					
				}
			}
			.compact{/*expanding box*/}
		}
	}
	nav{		
		>ul{
			position: absolute;
			top: #{$header-height};
			min-height: #{$nav-height};
			background-color: $color-drawer;		
			float: left;
			width: 100%;
			height: auto;
			margin: 0;			
			padding: 0;
			list-style: none;
			display: table;
			table-layout: fixed;
			box-sizing: content-box;
			>div{
				display:none;
			}
			>div + li{
				
			}
			li{		
				box-sizing: border-box;										
				table-layout: fixed;	
				vertical-align: middle;	
				position: relative;
				> a{									
					text-decoration: none;
					width: 100%;
					display: block;												
				}
				ul{
					background-color: $color-drawer;
					display: table;
					position: absolute;
					padding: 0;
					@include box-shadow($color-drawer);
					@include transition;
					li{
						margin-bottom: -100%;
						@include transition;
					}
					& + a{
						position: relative;
					}
					& + a:after{
						content: ' ';
						display: block;
						width: 0; 
						height: 0; 
						position: absolute;
						border-top: #{$nav-height / 4} solid $color-primary; 
						border-left: #{$nav-height / 8} solid transparent; 
						border-right: #{$nav-height / 8} solid transparent;
						@include transition;				
					}								
					li{
						display: table;					
						height: $nav-height;
						a{
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
				&:hover{
					background-color: $color-primary;
					border: none;
					>ul{
						li{
							margin-bottom: 0;
						}
					}
					>a, >a:hover{
						color: $color-background;
					}					
				}
				ul{
					overflow: hidden;
					width: 100%;
					li{
						float:left;
						width: 100%;

					}
				}		
			}
		}		
	}
}





/* This is the clickable label */
.slide-toggle {
	float: left;
	cursor: pointer;	
	//left: -2rem;
	z-index: 1;
	display: none;
	color: $color-drawer;
	margin: 0;
	position: absolute;
	top: #{$nav-height / 2.7};
	bottom: 0;
	left: 1rem;
	right: auto;
	padding: 0;
}

/* Kill the nasty outlines everywhere */
.slide-toggle,
.slide-toggle:active,
.slide-toggle:focus {
	border: none !important;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The :after pseudo element has an icon that covers the checkbox */
.slide-toggle:after {
	content: "\f0c9";	
	display: block;
	font: #{$nav-height} 'fontawesome';
	text-align: center;	
	@include text-shadow;
	height: #{$nav-height * 0.85};
	-webkit-transition: -webkit-transform #{$transition-length / 2} ease;
			-moz-transition: -moz-transform #{$transition-length / 2} ease;
			-o-transition: -o-transform #{$transition-length / 2} ease;
			transition: transform #{$transition-length / 2} ease;
}

/* This is the checkbox */
.slide-checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* When it's checked replace the menu icon with a close icon */
.slide-checkbox:checked ~ .slide-toggle:after {
	content: '\f0c9';
}



/*only show mobile nav on @media handheld*/

@media all and (max-width:#{$length-eight * 1px}){
	header{
		section.search{
			top: 0;
			height: #{$header-height};
			margin-right: 1rem;
			form {
				width:100%;
				height: #{$header-height};
				&:after{
					content:"";
					position:absolute;
					width:0;
					height:1rem;
					border: 0.3rem solid $color-drawer;
					top: 2.62rem;
					right:-0.62rem;
					-webkit-border-radius:3px;
					-webkit-transform: rotate(-45deg);
				}
				input[type="search"]{
					-webkit-appearance: none;
					margin-top: 1rem;
					float:right;
					@include transition;
					display:block;
					position:relative;
					outline:none;
					line-height:16px;
					width:2rem;
					height:2rem;
					-webkit-border-radius:50px;
					outline:none;
					&::-webkit-search-cancel-button{
						display: none; 
					}
					&:hover, &:focus{
						width:200px;
					}
					&:hover::-webkit-input-placeholder{
						color:#cae0ef;
						font-style:italic;
						font-size:13px;
					}
				}
			}			
			::-webkit-input-placeholder {color:transparent;}			
		}
		nav{
			position: fixed;
			top: #{$header-height};
			height: 100%;			
			height: 100%;
			z-index: 999;
			padding-bottom: 100%;			
			section.user{
				width: 100%;
				& + ul{
					top: #{$nav-height};
				}
			}
			ul{
				display: block;
				position:relative;				
				top: 0;
				background-color: $color-drawer;
			}
			address{
				width: auto;
				height: #{$nav-height - $nav-height / 3};
				background-color: $color-drawer;
				@include box-shadow($color-drawer);
				top: #{$nav-height / 6};
				right: 0;
				text-align: center;
				a{}
			}
			address + ul{
				top: #{$nav-height};
			}
			li{
				padding-left: 1rem;
				display: block;
				text-align: left;
				> a{
					padding: 1rem 0;
					height: 3rem;
				}
			}
			-webkit-transition: -webkit-transform #{$transition-length / 2} ease;
			-moz-transition: -moz-transform #{$transition-length / 2} ease;
			-o-transition: -o-transform #{$transition-length / 2} ease;
			transition: transform #{$transition-length / 2} ease;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translateY(100%) scale3d(1, 0, 1);
			-moz-transform: translateY(100%) scale3d(1, 0, 1);
			-ms-transform: translateY(100%) scale3d(1, 0, 1);
			-o-transform: translateY(100%) scale3d(1, 0, 1);
			transform: translateY(100%) scale3d(1, 0, 1);
			-webkit-transform-origin: 50% -100%;
			-moz-transform-origin: 50% -100%;
			-o-transform-origin: 50% -100%;
			-ms-transform-origin: 50% -100%;
			transform-origin: 50% -100%;
		}
	}
	.slide-checkbox:checked ~ nav {
		-webkit-transform: translateY(0) scale3d(1, 1, 1);
		-moz-transform: translateY(0) scale3d(1, 1, 1);
		-ms-transform: translateY(0) scale3d(1, 1, 1);
		-o-transform: translateY(0) scale3d(1, 1, 1);
		transform: translateY(0) scale3d(1, 1, 1);

	}

	.slide-toggle {
		display: block;
	}

	.slide-checkbox:checked ~ .slide-toggle:after {
		@include text-shadow-inset;	
		-webkit-transform: rotateZ(90deg);
		-moz-transform: rotateZ(90deg);
		-o-transform: rotateZ(90deg);
		-ms-transform: rotateZ(90deg);
		transform: rotateZ(90deg);
	}
}