/*header styles on devices from 1024px-1664px*/
header{
	@include column(8,8);
	/*multiple headers get styled into tabs. See foxnews for example*/	
	h1{/*site tite*/}
	address{/*address info*/}

	section{
		&.masthead{
			margin-left: 1rem;
			@include column(4,8);
			/*masthead is centered on page*/
			.logo{/*site logo*/}
			h1{/*site title*/}
			address{/*address info*/}
		}
		&.user{
			@include column(2,8);
			a{}
		}
		&.social{
			@include column(2,8);
			a{}
		}
		&.search{
			@include column(3,8);
			form input{	}
			.compact{/*expanding box*/}
		}
	}
	nav{
		@include column(8,8);
		>ul{			
			@include box-shadow($color-drawer);
			>div + li{
				border-left: 1px solid mix($color-background,$color-drawer);
			}
		}
		li{
			float: none;
			text-align: center;
			display: table-cell;
			> a{}
			>ul{
				top: 50%;				
				div + li{
					border-top: 1px solid mix($color-background,$color-drawer);
				}
				& + a:after{
					bottom: 0;
					top: 0;
					margin: auto;					
					left: calc(100% + 0.2rem);
				}
			}
			&:hover{
				ul{
					top: 100%;
				}
				a:after{
					border-top: 0.75rem solid $color-drawer;
				}
			}
		}
	}
	#show-mobile-nav{
		display: none;
	}
}
