/*styles for screens 256-384px*/
header{
	height: 5rem;
	@include column(2,2);
	@include box-shadow;
	.logo{
		position: relative;
		left: 0.75rem;
	}
	h1{	
		position: absolute;
		left: 4.2rem;
		white-space: nowrap;
		overflow: hidden;
	}
	address{display: none;}
	section{
		&.masthead{	}
		&.user{
			@include column(1,2);
			a{}
		}
		&.search{}
	}
	nav{
		width: 62%;
		ul{
			
		}
		li{
			text-align: left;
			float: left;
		}
	}
}

