/*styles for devices from 640-1024px wide*/
header{
	height: 5rem;
	@include column(5,5);
	@include box-shadow;
	.logo{
		position: relative;
		left: 0.75rem;
	}
	h1{
		position: relative;
		left: 0.75rem;
	}
	address{}
	section{
		&.masthead{

		}
		&.user{
			a{}
		}
		&.search{}
	}
	nav{
		height: 100%;
		width: 38%;
		ul{	}
		li{
			text-align: left;
			float: left;
		}
	}
}




