/*Styles for devices from 128-256px wide*/
header{
	height: $header-height;
	@include column(1,1);
	@include box-shadow($color-primary);
	address{
		a, a:before{
			color: $color-primary;
		}
	}
	section.masthead{
		margin-left: #{$nav-height + 1.5rem};
	}
	section.user{
		box-sizing: content-box;
		right: -2px;
	}
	nav{
		>ul{
			@include box-shadow($color-drawer);
			div + li{
				border-top: 1px solid mix($color-background,$color-drawer);
			}
			li{
				text-align: left;
				float: left;
				width: 100%;
				display: block;	
				
				ul{
					left: -100%;	
					& + a:after{					
						bottom: 0;
						top: 0;
						margin: auto;
						left: calc(100% + 0.2rem);			
					}								
					li{					
						a{

						}
					}
				}
				&:hover{								
					a:after{
						left: calc(100% + 1.2rem);				
						border-top: 0.75rem solid $color-drawer;
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						transform: rotate(-90deg);
					}
					ul{
						left: 0;
						z-index: 999;
						width: 110%;
					}	
				}
			}
		}
	}
}