/*styles for devices from 384-640 px wide*/
header{
	height: 5rem;
	@include column(3,3);
	@include box-shadow($color-primary);
	address{
		a, a:before{
			color: $color-primary;
		}
	}
	section{
		&.masthead{margin-left: #{$nav-height + 1.5rem};	}
		&.user{
			box-sizing: content-box;
			right: -2px;
			@include column(1,3);
			a{}
		}
		&.search{}
	}
	nav{
		width: 50%;
		>ul{		
			@include box-shadow($color-drawer);	
			div + li{
				border-top: 1px solid mix($color-background,$color-drawer);
			}
		}
		li{
			text-align: left;
			float: left;
			width: 100%;
			display: block;	
			
			ul{
				left: -100%;
				& + a:after{					
					bottom: 0;
					top: 0;
					margin: auto;
					left: calc(100% + 0.2rem);			
				}								
				li{					
					a{

					}
				}
			}
			&:hover{								
				a:after{
					left: calc(100% + 1.2rem);				
					border-top: 0.75rem solid $color-drawer;
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
				}
				ul{
					left: 100%;
				}
			}
		}
	}	
}
