/*Styles for devices from 128-256px wide*/
header{
	height: $header-height;
	@include column(1,1);
	@include box-shadow;
	h1{
		position: absolute;
		left: 3rem;
		white-space: nowrap;
		overflow: hidden;
	}
	nav{
		ul{
			li{
				text-align: left;
				float: left;
			}
		}
	}
}