@if $skeu == flat{
	$unit-scalar-border-radius: 0px !global;
	$unit-scalar-shadow-y: 0px !global;
	$unit-scalar-shadow-blur: 0px !global;
	input:focus{
		box-shadow: 0 0 $unit-scalar-border-radius $color-accent;
	}
}