html{
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: #{map-get($keyRatios, $key) - 25%};
	@include media-from(nth($units-scalar, 2)){
		font-size:  #{map-get($keyRatios, $key) - 12.5%};
	}
	@include media-from(nth($units-scalar, 3)){
		font-size: map-get($keyRatios, $key);
	}
	@import "classes/index";
}