header>section.masthead ~ nav{
	position: relative;
	top: #{$unit__header--height};	
	@include prefixer(transition, all $length__transition $style__animation-ease);
	z-index: 110;
	address{
		@import "nav/address";
	}
	@include media-to($length-mobile-cutoff){
		position: fixed;
		top: #{$unit__header--height};
		left: -1px;
		height: 100%;			
		height: 100%;
		z-index: 999;
		padding-bottom: 100%;
		@include prefixer(transition, transform #{$length__transition / 2} $style__animation-ease);
		@include prefixer(perspective, 1000);
		@include prefixer(backface-visibility, hidden);
		@include prefixer(transform, translateY(100%) translateZ(0) scale3d(1, 0, 1));
		@include prefixer(transform-origin, 50% -100%);	
		li{
			padding-left: 1rem;
			display: block;
			text-align: left;
			> a{
				padding: 1rem 0;
				height: 1rem;
			}
		}
	}
	a{
		font-family: "#{$body-font}";
	}
	>ul{
		@import "nav/ul";
	}
	@include media-from($unit__base-x-two){width: 62%;}
	@include media-from($unit__base-x-three){width: 50%;}
	@include media-from($unit__base-x-five){width: 38%;}
	@include media-from($unit__base-x-eight){
		@include column(8,8);
		li{
			float: none;
			text-align: center;
			display: table-cell;
			&:hover{
				ul{
					top: 100%;
				}
				a:after{
					border-top: 0.75rem solid $color-drawer;
				}
			}
		}
	}
	@include media-from($unit__base-x-thirteen){@include column(13,13);}
}