label{
	flex-grow: 0;
	height: 1.5rem;
	padding: 0 0.5rem;
	position: relative;
	line-height: 1.5rem;
	float: left;
	margin: 0.25rem 0;
	@include font-properties-for(p);
	&.required{
		&:after{
			color: $color-red;
			content: "*";
			margin-left: 3px;}}
	@media all and (min-width:#{nth($units-scalar, 1) * 1px}) and (max-width:#{nth($units-scalar, 2) * 1px}){
		display: block;}
	@media all and (min-width:#{nth($units-scalar, 2) * 1px}) and (max-width:#{nth($units-scalar, 3) * 1px}){
		display: block;}
	@media all and (min-width:#{nth($units-scalar, 3) * 1px}) and (max-width:#{nth($units-scalar, 5) * 1px}){
		/*min-width: 33%;*/}
	@media all and (min-width:#{nth($units-scalar, 5) * 1px}) and (max-width:#{nth($units-scalar, 8) * 1px}){
		/*min-width: 25%;*/}
	@media all and (min-width:#{nth($units-scalar, 8) * 1px}) and (max-width:#{nth($units-scalar, 13) * 1px}){
		/*min-width: 10%;*/}
	@media all and (min-width:#{nth($units-scalar, 13) * 1px}){
		/*min-width: 10%;*/}}