// The Masthead
// 
// If the .logo and h1 are wrapped in section.masthead, they are centered on the page,
// the header height should change, and the navigation will be centered below the masthead.
//
// header>section.masthead>h1+img

@import "nav";
@import "nav__li__ul";
&{
	position: absolute;
	margin: 0 auto;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	padding: 0 $unit__gutter--width;
	height: #{$unit__header--height};	
	@include prefixer(transition, all $length__transition $style__animation-ease);	
	@include media-to($length-mobile-cutoff){
		height: $unit__header--height;
		.logo + h1{
			top: #{$unit__gutter--width * -1};}
	}
	/*masthead should be centered on page*/
	@include media-from($unit__base-x-two){}
	@include media-from($unit__base-x-three){}
	@include media-from($unit__base-x-five){}
	@include media-from($unit__base-x-eight){}
	@include media-from($unit__base-x-thirteen){}
	.logo{
		margin: auto;
		top: 0;
		bottom: 0;
		height: 100%;
		float: none;}
	h1{
		float: none;}
	.logo + h1{
		position: relative;
		top: #{$unit__gutter--width * -1};}}