// The Masthead
// 
// If the .logo and h1 are wrapped in section.masthead, they are centered on the page,
// the header height should change, and the navigation will be centered below the masthead.
//
// header>section.masthead>h1+img

@import "nav";
@import "nav__li__ul";
&{
	position: absolute;
	margin: 0 auto;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	padding: 0 $unit-scalar-gutter;
	height: #{$unit-scalar-height-header};	
	@include prefixer(transition, all $unit-time-transition $style-animation-ease);	
	@include media-to($unit-scalar-mobile-cutoff){
		height: $unit-scalar-height-header;
		.logo + h1{
			top: #{$unit-scalar-gutter * -1};}
	}
	/*masthead should be centered on page*/
	@include media-from(nth($units-scalar, 2)){}
	@include media-from(nth($units-scalar, 3)){}
	@include media-from(nth($units-scalar, 5)){}
	@include media-from(nth($units-scalar, 8)){}
	@include media-from(nth($units-scalar, 13)){}
	.logo{
		margin: auto;
		top: 0;
		bottom: 0;
		height: 100%;
		float: none;}
	h1{
		float: none;}
	.logo + h1{
		position: relative;
		top: #{$unit-scalar-gutter * -1};}}