& ~ nav li>ul{
	background-color: $color-drawer;
	display: table;
	position: absolute;
	left: -100%;
	padding: 0;
	border-radius: $unit-scalar-border-radius;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	@include box-shadow($color-drawer);
	@include transition;
	overflow: hidden;
	width: 100%;
	border: 0;
	&:hover{
		border: 1px none none none;}
	li{
		margin-bottom: -100%;
		@include transition;
		border-radius: 0;
		float: left;
		width: 100%;
		display: table;					
		height: $unit-scalar-height-nav;
		&:last-of-type{
			border-bottom-right-radius: $unit-scalar-border-radius;
			border-bottom-left-radius: $unit-scalar-border-radius;}
		a{
			display: table-cell;
			vertical-align: middle;}}
	& + a{
		position: relative;}
	& + a:after{
		content: ' ';
		display: block;
		width: 0; 
		height: 0; 
		position: absolute;
		border-top: #{$unit-scalar-height-nav / 4} solid $color-primary; 
		border-left: #{$unit-scalar-height-nav / 8} solid transparent; 
		border-right: #{$unit-scalar-height-nav / 8} solid transparent;
		bottom: 0;
		top: 0;
		margin: auto;
		left: calc(100% + 0.2rem);
		@include transition;}
	@include media-from(nth($units-scalar, 2)){}
	@include media-from(nth($units-scalar, 3)){}
	@include media-from(nth($units-scalar, 5)){}
	@include media-from(nth($units-scalar, 8)){
		left: 0;
		top: 50%;
		div + li{
			border-top: 1px solid mix($color-background, $color-drawer);}
		& + a:after{
			bottom: 0;
			top: 0;
			margin: auto;
			left: calc(100% + 0.2rem);}}
	@include media-from(nth($units-scalar, 13)){}
}