//////////////////////////////
// BLOCKQUOTE
//
// Use cases:
//
// Article pull quote : article > blockquote.pullquote
// -When pulling a quote from an article for emphasis
//
//////////////////////////////


blockquote{
	border-left: 1px solid $color-secondary;
	&:before{
		content: "“";
		color: $color-tertiary;
		font-size: 8em;
		line-height: 1rem;
		position: relative;
		//margin-left: calc(-100% + 2rem);
		top: 4rem;
		font-family: $serif;
		@include opacity(0.62);
	}
	//padding: 0.62rem 1rem 0 1rem;
	&:nth-of-type(even){
		float: right;
		margin-right: 12%;
		margin-left: 1rem;
	}
	&:nth-of-type(odd){
		float: left;
		margin: 0;
		margin-bottom: 1em;
		text-align: left;
		> p{
			display: block;
			color: $color-secondary;
			position: relative;
			top: -3rem;
			left: 1rem;		
			/*breaks terrible with two lines of text*/
		}
	}
	/*> p{
		color: $color-tertiary;
		padding-right: 3em;
		padding-top: 0.62em;
		font-style: italic;
	}*/
	> cite{
		display: block;
		font-family: $sans;
		color: $color-secondary;
		float: left;
		margin-left: 38%;
		text-align: left;
		&:before{
			content: "- ";
		}
	}
}