//////////////////////////////
// BLOCKQUOTE
//
// Use cases:
//
// Article pull quote : article > blockquote
//
//////////////////////////////


blockquote{
	&:before{
		content: "“";
		color: $color-tertiary;
		font-size: 8em;
		line-height: 1rem;
		position: relative;
		font-family: $serif;
		@include opacity(0.62);
	}
	width: 50%;//this should only be when it's inside an article. fix this shit
	padding: 0.62rem 1rem 0 1rem;
	&:nth-of-type(even){
		float: right;
		margin-right: 12%;
		margin-left: 1rem;
	}
	&:nth-of-type(odd){
		float: left;
		margin: 0;
		margin-bottom: 1em;
		text-align: center;
		> p{
			margin: 0 auto;
			color: $color-secondary;
			position: relative;
			z-index: 150;
			/*breaks terrible with two lines of text*/
		}
	}
	/*> p{
		color: $color-tertiary;
		padding-right: 3em;
		padding-top: 0.62em;
		font-style: italic;
	}*/
	> cite{
		font-family: $sans;
		color: $color-secondary;
		float: left;
		margin-left: 50%;
		padding-top: 0;
		text-align: left;
		&:before{
			content: "- ";
		}
	}
}