/*
Syntax error: Undefined variable: "$unit-scalar-height-header".
        on line 9 of sass/molecules/body/header/_nav.scss
        from line 2 of sass/molecules/test.scss

Backtrace:
sass/molecules/body/header/_nav.scss:9
sass/molecules/test.scss:2
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/script/tree/node.rb:50:in `perform'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:369:in `visit_prop'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block (2 levels) in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `map'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:390:in `visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block (2 levels) in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `map'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:390:in `visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:292:in `block (2 levels) in visit_import'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:292:in `map'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:292:in `block in visit_import'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:88:in `block in with_import'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:88:in `with_import'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:289:in `visit_import'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block (2 levels) in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `map'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:392:in `block in visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:390:in `visit_rule'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/stack.rb:79:in `with_base'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:153:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:53:in `map'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/base.rb:37:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/tree/root_node.rb:20:in `render'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/engine.rb:277:in `render'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/plugin/compiler.rb:348:in `update_stylesheet'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/plugin/compiler.rb:192:in `block in update_stylesheets'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/plugin/compiler.rb:189:in `each'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/plugin/compiler.rb:189:in `update_stylesheets'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.rc.1/lib/sass/plugin/compiler.rb:277:in `block in watch'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapters/polling.rb:48:in `call'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$unit-scalar-height-header\".\A         on line 9 of sass/molecules/body/header/_nav.scss\A         from line 2 of sass/molecules/test.scss"; }
