meter{
	display: block;
	height: 1rem;
	width: 100%;
	vertical-align: 0;

	&::-webkit-meter-inner-element{
		background: $color-input-background;
		@include box-shadow-inset($color-input-background);}
	&::-webkit-meter-bar{
		background: transparent;
		height: calc(100% + #{$unit__shadow-size});
		bottom: #{$unit__shadow-size};
		position: relative;
		box-shadow: inset 0 1px 0px $color__3d--dark;		
		overflow: visible;}
	&::-webkit-meter-optimum-value{
		border-right: 1px solid mix($color__3d--light, $color-green);
		box-shadow: 0 #{$unit__shadow-size * -1} $unit__shadow-blur rgba(red(set-lightness($color-green, 80%)), green(set-lightness($color-green, 80%)), blue(set-lightness($color-green, 80%)), $unit__shadow-opacity);
		background: $color-green;}
	&::-webkit-meter-suboptimum-value{
		border-right: 1px solid mix($color__3d--light, $color-yellow);
		box-shadow: 0 #{$unit__shadow-size * -1} $unit__shadow-blur rgba(red(set-lightness($color-yellow, 80%)), green(set-lightness($color-yellow, 80%)), blue(set-lightness($color-yellow, 80%)), $unit__shadow-opacity);
		background: $color-yellow;}
	&::-webkit-meter-even-less-good-value{
		border-right: 1px solid mix($color__3d--light, $color-red);
		box-shadow: 0 #{$unit__shadow-size * -1} $unit__shadow-blur rgba(red(set-lightness($color-red, 80%)), green(set-lightness($color-red, 80%)), blue(set-lightness($color-red, 80%)), $unit__shadow-opacity);
		background: $color-red;}}