meter{
	display: block;
	height: 1rem;
	width: 100%;
	vertical-align: 0;

	&::-webkit-meter-inner-element{
		background: $color-input-background;
		@include box-shadow-inset($color-input-background);}
	&::-webkit-meter-bar{
		background: transparent;
		height: calc(100% + #{$unit-scalar-shadow-y});
		bottom: #{$unit-scalar-shadow-y};
		position: relative;
		box-shadow: inset 0 1px 0px $color-shade;		
		overflow: visible;}
	&::-webkit-meter-optimum-value{
		border-right: 1px solid mix($color-tint, $color-green);
		box-shadow: 0 #{$unit-scalar-shadow-y * -1} $unit-scalar-shadow-blur rgba(red(set-lightness($color-green, 80%)), green(set-lightness($color-green, 80%)), blue(set-lightness($color-green, 80%)), $unit-value-opacity-shadow);
		background: $color-green;}
	&::-webkit-meter-suboptimum-value{
		border-right: 1px solid mix($color-tint, $color-yellow);
		box-shadow: 0 #{$unit-scalar-shadow-y * -1} $unit-scalar-shadow-blur rgba(red(set-lightness($color-yellow, 80%)), green(set-lightness($color-yellow, 80%)), blue(set-lightness($color-yellow, 80%)), $unit-value-opacity-shadow);
		background: $color-yellow;}
	&::-webkit-meter-even-less-good-value{
		border-right: 1px solid mix($color-tint, $color-red);
		box-shadow: 0 #{$unit-scalar-shadow-y * -1} $unit-scalar-shadow-blur rgba(red(set-lightness($color-red, 80%)), green(set-lightness($color-red, 80%)), blue(set-lightness($color-red, 80%)), $unit-value-opacity-shadow);
		background: $color-red;}}