@media all and (min-width:#{$length-eight * 1px}){
	.row{
		display: flex;		
		>*{
			display: flex;
			flex-grow: 1;			
		}
		>.row{
			max-width: 50%;
			flex-basis: 49%;
		}
		>.two{
			flex-grow: 2;
		}
		>.three{
			flex-grow: 3;
		}
		>.four{
			flex-grow: 4;
		}
	}
}
@media all and (min-width:#{$length-five * 1px}) and (max-width:#{$length-eight * 1px}){
	.row{
		display: flex;
		>*{
			display: flex;
			flex-grow: 1;
			flex-basis: 49%;
		}
		>.row{
			display: block;
			width: 100%;
			flex-basis: 100%;
			>*{
				flex-basis: 49%;
				float: left;
				width: 50%;
			}
		}
	}
}
@media all and (min-width: 0px) and (max-width:#{$length-five * 1px}){
	.row{
		display: block;
		>*{
			display: block;
		}
	}

}
.row{
	width: 100%;
	flex-wrap: wrap;
	@include clearfix;
}
.column{
	padding: 0 0.5rem;
}
/*
.row{
	width: 100%;	
	padding: 0;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	>.row{
		width: 50%;
	}
	> div, >li{
		display: block;		
		table-layout: fixed;	
		vertical-align: top;
		width: 50%;
		&.column{
			padding:0 0.5rem 1rem 0.5rem;		
		}
		> *{
			display: block;
			display: flex;
			width: 100%;
		}
		> .row{
			display: table;
		}
	}	
}

div.two{
	width: 100%;
}
div.three{
	width: 150%;
}
div.four{
	width: 200%;
}

@media all and (min-width: 0px) and (max-width:#{$length-three * 1px}){
	.row{
		> div, >li{
			> *{display:block;}
		}
	}
}

@media all and (min-width: 0px) and (max-width:#{$length-five * 1px}){
	div.two, div.three, div.four{width:100%}
	.row{
		display: block;
		>.row{
			width: 100%;
		}
		> div, >li{			
			width: 100%;
		}
	}
}

@media all and (min-width: #{$length-five * 1px}) and (max-width:#{$length-eight * 1px}){
	div.two, div.three, div.four{
		width: 50%;
	}
	.row{
		>.row{
			width: 50%;
		}
		> div{
			float:left;	
			.row{
				>div{					
					display: table-cell;
				}

			}			
			&:nth-last-of-type(2) + div:nth-of-type(odd){
				width: 100%;
			}
		}
		> li{
			float: left;
			&:nth-last-of-type(2) + li:nth-of-type(odd){
				width: 100%;
			}
		}		
	}
}

@media all and (min-width:#{$length-eight * 1px}){
	.row{
		> div, >li{
			display: table-cell;
		}
	}
}
*/