@media all and (min-width:#{$unit__base-x-eight * 1px}){
	.row{
		display: flex;		
		>*{
			display: flex;
			flex-grow: 1;}
		>.row{
			max-width: 50%;
			flex-basis: 49%;}
		>.two{
			flex-grow: 2;}
		>.three{
			flex-grow: 3;}
		>.four{
			flex-grow: 4;}}}

@media all and (min-width:#{$unit__base-x-five * 1px}) and (max-width:#{$unit__base-x-eight * 1px}){
	.row{
		display: flex;
		>*{
			display: flex;
			flex-grow: 1;
			flex-basis: 49%;}
		>.row{
			display: block;
			width: 100%;
			flex-basis: 100%;
			>*{
				flex-basis: 49%;
				float: left;
				width: 50%;}}}}

@media all and (min-width: 0px) and (max-width:#{$unit__base-x-five * 1px}){
	.row{
		display: block;
		>*{
			display: block;}}}
.row{
	width: 100%;
	flex-wrap: wrap;
	@include clearfix;}
.column{
	padding-left: 0.5rem;
	padding-right: 0.5rem;}