header{
	z-index: 100;
	img.logo{
		z-index: 110;}
	h1{
		z-index: 110;}
	address{
		z-index: 110;}
	section{
		z-index: 110;
		&.masthead{	}
		&.user{
			a{}
		}
		&.search{}
	}
	.slide-toggle{z-index: 120;}
	nav{
		z-index: 110;
		ul{
			li{
				ul{
					z-index: -999;
				}
			}
		}

	}
}


main{
	z-index: 0;
}
footer{
	z-index: -100;
}