// #The Box-Shadow Mixins
//
// The box-shadow mixins provide an essential part of the SCF's style.
// They are used in the object mixin to provide a visual metaphor for the
// metaphorical levels of content. They can also be used on their own.
//
// The box-shadow mixins use the border radius to create rounded edges,
// the dark 3d color to provide a bottom border that looks lifted.

@mixin box-shadow($on-background){	
	// Remove existing borders
	border: 0px solid;
	// Set border-radius
	border-radius: $unit-scalar-border-radius;
	border-bottom: $unit-scalar-border-radius solid $color-shade;		
	box-shadow: 0 $unit-scalar-shadow-y $unit-scalar-shadow-blur rgba(0, 0, 0, $unit-value-opacity-shadow);
}
@mixin box-shadow-inset($on-background){	
	// DEPRECATED: box-shadow-inset does not use the $onbackground variable
	border: none;
	border-radius: $unit-scalar-border-radius;
	border-top: $unit-scalar-border-radius solid $color-shade;
		
	
	@if $tone == black{
		box-shadow: none;}
	@else if $tone == white{
		border-left: 1px solid rgba(0,0,0, $unit-value-opacity-shadow / 2);
		border-right: 1px solid rgba(0,0,0, $unit-value-opacity-shadow / 2);
		border-bottom: 1px solid rgba(0,0,0, $unit-value-opacity-shadow / 4);
	}
}