@mixin font-properties-for($element, $multiplier: 1){
	font-size: #{typography($element,font-size) * (1rem * $multiplier)};
	line-height: #{typography($element,line-height) * ($unit__line-height * $multiplier)};
	padding-top: #{typography($element,padding-top) * (1rem * $multiplier)};
	padding-bottom: #{typography($element,padding-bottom) * (1rem * $multiplier)};
	font-weight: #{typography($element,font-weight)};
	font-style: #{typography($element,font-style)};
	margin: 0;
}
