// The Re-Base Mixin
//
// The re-base mixin pulls an object towards the $side and then pushes its content back
// by the $amount. Used in article>.pull s

@mixin re-base($side,$amount){
	$otherSide: null;
	@if $side == left {
		$otherSide: "right";}
	@else {
		$otherSide: "left";}
	#{$side}: #{$amount};
	margin-#{$side}: #{$amount * -1};
	padding-#{$otherSide}: #{$amount + $unit__gutter--width};
}
