// Lazy Farting
@mixin small-search-box{
	top: 0;
	bottom: 0;
	margin: auto;
	height: #{$unit-scalar-height-header};
	form {
		width:100%;
		height: #{$unit-scalar-height-header};
		&:after{
			content:"";
			position:absolute;
			width:0;
			height:1rem;
			border: 0.2rem solid $color-primary;
			top: #{$unit-scalar-height-header / 2};
			right:-0.52rem;
			-webkit-border-radius:3px;
			-webkit-transform: rotate(-45deg);}
		input[type="search"]{
			-webkit-appearance: none;					
			float:right;
			@include transition;
			display:block;
			position:relative;
			bottom: 0.3rem;
			right: -0.3rem;
			outline:none;
			line-height:24px;
			width:1.5rem;					
			-webkit-border-radius:50px;
			outline:none;
			background-color: $color-background;
			border-color: $color-primary;
			&::-webkit-search-cancel-button{
				display: none;}
			&:hover, &:focus{
				width:200px;}
			&:hover::-webkit-input-placeholder{
				color:#cae0ef;
				font-style:italic;
				font-size:13px;}}}			
			::-webkit-input-placeholder{
				color:transparent;}
}