article>.pull{
	&:nth-of-type(odd){
		float: right;
	}
	&:nth-of-type(even){
		float: left;
	}
	@include media-from($unit__base-x-two){
		width: calc(100% + #{2 * $article-margin-length-two});
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-two);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-two);}}
	@include media-from($unit__base-x-three){
		width: calc(100% + #{2 * $article-margin-length-three});
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-three);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-three);}}
	@include media-from($unit__base-x-five){
		width: 50%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-five);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-five);}}
	@include media-from($unit__base-x-eight){
		width: 33%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-eight);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-eight);}}
	@include media-from($unit__base-x-thirteen){
		width: 25%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-thirteen);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-thirteen);}}}

blockquote.pull{
	@include media-from($unit__base-x-eight){
		width: 50%;}}