/* line 41, ../sass/partials/base/utilities/_layout.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/partials/base/utilities/_layout.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/partials/base/utilities/_layout.scss */
body:after {
  clear: both;
}
/* line 45, ../sass/partials/base/utilities/_layout.scss */
body:after {
  display: block;
}

/*
@if $quality ==  maj{}
@else if $quality ==  dim{}
@else if $quality ==  aug{}
@else if $quality ==  augmin7{}
@else if $quality ==  sus{}
@else if $quality ==  sus2{}
@else if $quality ==  eleventh{}
@else if $quality ==  min7{}
@else if $quality ==  maj7{}
@else if $quality ==  dom7{}
@else if $quality ==  dim7{}
@else if $quality ==  min6{}
@else if $quality ==  maj6{}
@else if $quality ==  domflat9{}
@else if $quality ==  domsharp9{}
@else if $quality ==  min9{}
@else if $quality ==  maj9{}
@else if $quality ==  perfect5{}
*/
/* line 19, ../sass/classy.scss */
.maj h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.maj h1.uber, .uber .maj h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.maj h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.maj h2.uber, .uber .maj h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.maj h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.maj h2.uber, .uber .maj h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.maj h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.maj h3.uber, .uber .maj h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.maj h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.maj h4.uber, .uber .maj h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.maj p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.maj p.uber, .uber .maj p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.dim h1 {
  font-size: 1.414rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.dim h1.uber, .uber .dim h1 {
  font-size: 2.828rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.dim h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.dim h2.uber, .uber .dim h2 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.dim h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.dim h2.uber, .uber .dim h2 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.dim h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.dim h3.uber, .uber .dim h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.dim h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.dim h4.uber, .uber .dim h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.dim p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.dim p.uber, .uber .dim p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.aug h1 {
  font-size: 1.62rem;
  line-height: 2rem;
  padding-top: 0.38rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.aug h1.uber, .uber .aug h1 {
  font-size: 3.24rem;
  line-height: 4rem;
  padding-top: 0.76rem;
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.aug h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.aug h2.uber, .uber .aug h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.aug h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.aug h2.uber, .uber .aug h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.aug h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.aug h3.uber, .uber .aug h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.aug h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.aug h4.uber, .uber .aug h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.aug p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.aug p.uber, .uber .aug p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.augmin7 h1 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.augmin7 h1.uber, .uber .augmin7 h1 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.augmin7 h2 {
  font-size: 1.62rem;
  line-height: 2rem;
  padding-top: 0.38rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.augmin7 h2.uber, .uber .augmin7 h2 {
  font-size: 3.24rem;
  line-height: 4rem;
  padding-top: 0.76rem;
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.augmin7 h2 {
  font-size: 1.62rem;
  line-height: 2rem;
  padding-top: 0.38rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.augmin7 h2.uber, .uber .augmin7 h2 {
  font-size: 3.24rem;
  line-height: 4rem;
  padding-top: 0.76rem;
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.augmin7 h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.augmin7 h3.uber, .uber .augmin7 h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.augmin7 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.augmin7 h4.uber, .uber .augmin7 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.augmin7 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.augmin7 p.uber, .uber .augmin7 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.sus h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.sus h1.uber, .uber .sus h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.sus h2 {
  font-size: 1.33rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.sus h2.uber, .uber .sus h2 {
  font-size: 2.66rem;
  line-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.sus h2 {
  font-size: 1.33rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.sus h2.uber, .uber .sus h2 {
  font-size: 2.66rem;
  line-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.sus h3 {
  font-size: 1.33rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.sus h3.uber, .uber .sus h3 {
  font-size: 2.66rem;
  line-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.sus h4 {
  font-size: 1.33rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.sus h4.uber, .uber .sus h4 {
  font-size: 2.66rem;
  line-height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.sus p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.sus p.uber, .uber .sus p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.sus2 h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.sus2 h1.uber, .uber .sus2 h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.sus2 h2 {
  font-size: 1.125rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.sus2 h2.uber, .uber .sus2 h2 {
  font-size: 2.25rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.sus2 h2 {
  font-size: 1.125rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.sus2 h2.uber, .uber .sus2 h2 {
  font-size: 2.25rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.sus2 h3 {
  font-size: 1.125rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.sus2 h3.uber, .uber .sus2 h3 {
  font-size: 2.25rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.sus2 h4 {
  font-size: 1.125rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.sus2 h4.uber, .uber .sus2 h4 {
  font-size: 2.25rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.sus2 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.sus2 p.uber, .uber .sus2 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.eleventh h1 {
  font-size: 2.66rem;
  line-height: 3rem;
  padding-top: 0.67rem;
  padding-bottom: 0.34rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.eleventh h1.uber, .uber .eleventh h1 {
  font-size: 5.32rem;
  line-height: 6rem;
  padding-top: 1.34rem;
  padding-bottom: 0.68rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.eleventh h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 0.72rem;
  padding-bottom: 0.26rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.eleventh h2.uber, .uber .eleventh h2 {
  font-size: 4.5rem;
  line-height: 6rem;
  padding-top: 1.44rem;
  padding-bottom: 0.52rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.eleventh h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 0.72rem;
  padding-bottom: 0.26rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.eleventh h2.uber, .uber .eleventh h2 {
  font-size: 4.5rem;
  line-height: 6rem;
  padding-top: 1.44rem;
  padding-bottom: 0.52rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.eleventh h3 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.eleventh h3.uber, .uber .eleventh h3 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.eleventh h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.eleventh h4.uber, .uber .eleventh h4 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.eleventh p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.eleventh p.uber, .uber .eleventh p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.min7 h1 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.min7 h1.uber, .uber .min7 h1 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.min7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.min7 h2.uber, .uber .min7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.min7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.min7 h2.uber, .uber .min7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.min7 h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.min7 h3.uber, .uber .min7 h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.min7 h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.min7 h4.uber, .uber .min7 h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.min7 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.min7 p.uber, .uber .min7 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.maj7 h1 {
  font-size: 1.875rem;
  line-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.maj7 h1.uber, .uber .maj7 h1 {
  font-size: 3.75rem;
  line-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.maj7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.maj7 h2.uber, .uber .maj7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.maj7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.maj7 h2.uber, .uber .maj7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.maj7 h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.maj7 h3.uber, .uber .maj7 h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.maj7 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.maj7 h4.uber, .uber .maj7 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.maj7 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.maj7 p.uber, .uber .maj7 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.dom7 h1 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.dom7 h1.uber, .uber .dom7 h1 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.dom7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.dom7 h2.uber, .uber .dom7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.dom7 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.dom7 h2.uber, .uber .dom7 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.dom7 h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.dom7 h3.uber, .uber .dom7 h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.dom7 h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.dom7 h4.uber, .uber .dom7 h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.dom7 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.dom7 p.uber, .uber .dom7 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.dim7 h1 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.dim7 h1.uber, .uber .dim7 h1 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.dim7 h2 {
  font-size: 1.414rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.dim7 h2.uber, .uber .dim7 h2 {
  font-size: 2.828rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.dim7 h2 {
  font-size: 1.414rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.dim7 h2.uber, .uber .dim7 h2 {
  font-size: 2.828rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.dim7 h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.dim7 h3.uber, .uber .dim7 h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.dim7 h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.dim7 h4.uber, .uber .dim7 h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.dim7 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.dim7 p.uber, .uber .dim7 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.min6 h1 {
  font-size: 1.667rem;
  line-height: 2rem;
  padding-top: 0.35rem;
  padding-bottom: 0.65rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.min6 h1.uber, .uber .min6 h1 {
  font-size: 3.334rem;
  line-height: 4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.3rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.min6 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.min6 h2.uber, .uber .min6 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.min6 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.min6 h2.uber, .uber .min6 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.min6 h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.min6 h3.uber, .uber .min6 h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.min6 h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.min6 h4.uber, .uber .min6 h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.min6 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.min6 p.uber, .uber .min6 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.maj6 h1 {
  font-size: 1.667rem;
  line-height: 2rem;
  padding-top: 0.35rem;
  padding-bottom: 0.65rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.maj6 h1.uber, .uber .maj6 h1 {
  font-size: 3.334rem;
  line-height: 4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.3rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.maj6 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.maj6 h2.uber, .uber .maj6 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.maj6 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.maj6 h2.uber, .uber .maj6 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.maj6 h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.maj6 h3.uber, .uber .maj6 h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.maj6 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.maj6 h4.uber, .uber .maj6 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.maj6 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.maj6 p.uber, .uber .maj6 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.domflat9 h1 {
  font-size: 2.134rem;
  line-height: 3rem;
  padding-top: 0.68rem;
  padding-bottom: 0.3rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.domflat9 h1.uber, .uber .domflat9 h1 {
  font-size: 4.268rem;
  line-height: 6rem;
  padding-top: 1.36rem;
  padding-bottom: 0.6rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.domflat9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.domflat9 h2.uber, .uber .domflat9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.domflat9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.domflat9 h2.uber, .uber .domflat9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.domflat9 h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.domflat9 h3.uber, .uber .domflat9 h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.domflat9 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.domflat9 h4.uber, .uber .domflat9 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.domflat9 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.domflat9 p.uber, .uber .domflat9 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.domsharp9 h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  padding-top: 0.54rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.domsharp9 h1.uber, .uber .domsharp9 h1 {
  font-size: 4.8rem;
  line-height: 6rem;
  padding-top: 1.08rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.domsharp9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.domsharp9 h2.uber, .uber .domsharp9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.domsharp9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.domsharp9 h2.uber, .uber .domsharp9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.domsharp9 h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.domsharp9 h3.uber, .uber .domsharp9 h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.domsharp9 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.domsharp9 h4.uber, .uber .domsharp9 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.domsharp9 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.domsharp9 p.uber, .uber .domsharp9 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.min9 h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 0.72rem;
  padding-bottom: 0.26rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.min9 h1.uber, .uber .min9 h1 {
  font-size: 4.5rem;
  line-height: 6rem;
  padding-top: 1.44rem;
  padding-bottom: 0.52rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.min9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.min9 h2.uber, .uber .min9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.min9 h2 {
  font-size: 1.778rem;
  line-height: 2rem;
  padding-top: 0.41rem;
  padding-bottom: 0.59rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.min9 h2.uber, .uber .min9 h2 {
  font-size: 3.556rem;
  line-height: 4rem;
  padding-top: 0.82rem;
  padding-bottom: 1.18rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.min9 h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.min9 h3.uber, .uber .min9 h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.min9 h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.min9 h4.uber, .uber .min9 h4 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.min9 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.min9 p.uber, .uber .min9 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.maj9 h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 0.72rem;
  padding-bottom: 0.26rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.maj9 h1.uber, .uber .maj9 h1 {
  font-size: 4.5rem;
  line-height: 6rem;
  padding-top: 1.44rem;
  padding-bottom: 0.52rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.maj9 h2 {
  font-size: 1.875rem;
  line-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.maj9 h2.uber, .uber .maj9 h2 {
  font-size: 3.75rem;
  line-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.maj9 h2 {
  font-size: 1.875rem;
  line-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.maj9 h2.uber, .uber .maj9 h2 {
  font-size: 3.75rem;
  line-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.maj9 h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.maj9 h3.uber, .uber .maj9 h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.maj9 h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.maj9 h4.uber, .uber .maj9 h4 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.maj9 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.maj9 p.uber, .uber .maj9 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* line 19, ../sass/classy.scss */
.perfect5 h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 27, ../sass/classy.scss */
.perfect5 h1.uber, .uber .perfect5 h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 37, ../sass/classy.scss */
.perfect5 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 45, ../sass/classy.scss */
.perfect5 h2.uber, .uber .perfect5 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 55, ../sass/classy.scss */
.perfect5 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 63, ../sass/classy.scss */
.perfect5 h2.uber, .uber .perfect5 h2 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 73, ../sass/classy.scss */
.perfect5 h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 81, ../sass/classy.scss */
.perfect5 h3.uber, .uber .perfect5 h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 91, ../sass/classy.scss */
.perfect5 h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 99, ../sass/classy.scss */
.perfect5 h4.uber, .uber .perfect5 h4 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 0.94rem;
  padding-bottom: 1.08rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
/* line 109, ../sass/classy.scss */
.perfect5 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 117, ../sass/classy.scss */
.perfect5 p.uber, .uber .perfect5 p {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 135, ../sass/classy.scss */
  .a {
    font-size: 75%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 137, ../sass/classy.scss */
  .a {
    font-size: 62.5%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 139, ../sass/classy.scss */
  .a {
    font-size: 50%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 144, ../sass/classy.scss */
  .b {
    font-size: 87.5%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 146, ../sass/classy.scss */
  .b {
    font-size: 75%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 148, ../sass/classy.scss */
  .b {
    font-size: 62.5%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 153, ../sass/classy.scss */
  .c {
    font-size: 100%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 155, ../sass/classy.scss */
  .c {
    font-size: 87.5%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 157, ../sass/classy.scss */
  .c {
    font-size: 75%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 162, ../sass/classy.scss */
  .d {
    font-size: 112.5%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 164, ../sass/classy.scss */
  .d {
    font-size: 100%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 166, ../sass/classy.scss */
  .d {
    font-size: 87.5%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 171, ../sass/classy.scss */
  .e {
    font-size: 125%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 173, ../sass/classy.scss */
  .e {
    font-size: 112.5%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 175, ../sass/classy.scss */
  .e {
    font-size: 100%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 180, ../sass/classy.scss */
  .f {
    font-size: 137.5%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 182, ../sass/classy.scss */
  .f {
    font-size: 125%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 184, ../sass/classy.scss */
  .f {
    font-size: 112.5%;
  }
}

@media all and (min-width: 384px) and (max-width: 1664px) {
  /* line 189, ../sass/classy.scss */
  .g {
    font-size: 150%;
  }
}
@media all and (min-width: 256px) and (max-width: 384px) {
  /* line 191, ../sass/classy.scss */
  .g {
    font-size: 137.5%;
  }
}
@media all and (min-width: 128px) and (max-width: 256px) {
  /* line 193, ../sass/classy.scss */
  .g {
    font-size: 125%;
  }
}
