/* line 27, ../sass/periodic.scss */
body {
  margin: 0.25vw;
  position: relative;
}

/* line 31, ../sass/periodic.scss */
table {
  width: 100%;
  height: 100%;
}

/* line 35, ../sass/periodic.scss */
tr {
  display: flex;
  flex-wrap: wrap;
}

/* line 40, ../sass/periodic.scss */
td {
  width: 5vw;
  height: 5vw;
  display: block;
  background: red;
  content: attr(id) ":";
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 51, ../sass/periodic.scss */
.div {
  background: orange;
}

/* line 54, ../sass/periodic.scss */
.embed {
  background: violet;
}

/* line 57, ../sass/periodic.scss */
.form {
  background: green;
}

/* line 60, ../sass/periodic.scss */
.interactive {
  background: purple;
}

/* line 63, ../sass/periodic.scss */
.meta {
  background: cadetblue;
}

/* line 66, ../sass/periodic.scss */
.root {
  background: yellow;
}

/* line 69, ../sass/periodic.scss */
.section {
  background: red;
}

/* line 72, ../sass/periodic.scss */
.span {
  background: yellow;
}

/* line 75, ../sass/periodic.scss */
.table {
  background: brown;
}

/* line 78, ../sass/periodic.scss */
#html {
  top: 0;
  left: 0;
}

/* line 82, ../sass/periodic.scss */
#blockquote {
  top: 17.25vw;
  left: 51.75vw;
}

/* line 83, ../sass/periodic.scss */
#br {
  top: 17.25vw;
  left: 40.25vw;
}

/* line 84, ../sass/periodic.scss */
#dd {
  top: 34.5vw;
  left: 51.75vw;
}

/* line 85, ../sass/periodic.scss */
#div {
  top: 5.75vw;
  left: 51.75vw;
}

/* line 86, ../sass/periodic.scss */
#dl {
  top: 23vw;
  left: 51.75vw;
}

/* line 87, ../sass/periodic.scss */
#dt {
  top: 28.75vw;
  left: 51.75vw;
}

/* line 88, ../sass/periodic.scss */
#figcaption {
  top: 28.75vw;
  left: 40.25vw;
}

/* line 89, ../sass/periodic.scss */
#figure {
  top: 34.5vw;
  left: 40.25vw;
}

/* line 90, ../sass/periodic.scss */
#hr {
  top: 23vw;
  left: 40.25vw;
}

/* line 91, ../sass/periodic.scss */
#li {
  top: 34.5vw;
  left: 46vw;
}

/* line 92, ../sass/periodic.scss */
#ol {
  top: 23vw;
  left: 46vw;
}

/* line 93, ../sass/periodic.scss */
#p {
  top: 17.25vw;
  left: 46vw;
}

/* line 94, ../sass/periodic.scss */
#pre {
  top: 11.5vw;
  left: 51.75vw;
}

/* line 95, ../sass/periodic.scss */
#ul {
  top: 28.75vw;
  left: 46vw;
}

/* line 96, ../sass/periodic.scss */
#img {
  top: 46vw;
  left: 28.75vw;
}

/* line 97, ../sass/periodic.scss */
#area {
  top: 46vw;
  left: 34.5vw;
}

/* line 98, ../sass/periodic.scss */
#map {
  top: 46vw;
  left: 40.25vw;
}

/* line 99, ../sass/periodic.scss */
#embed {
  top: 46vw;
  left: 46vw;
}

/* line 100, ../sass/periodic.scss */
#object {
  top: 46vw;
  left: 51.75vw;
}

/* line 101, ../sass/periodic.scss */
#param {
  top: 46vw;
  left: 57.5vw;
}

/* line 102, ../sass/periodic.scss */
#source {
  top: 46vw;
  left: 63.25vw;
}

/* line 103, ../sass/periodic.scss */
#iframe {
  top: 46vw;
  left: 69vw;
}

/* line 104, ../sass/periodic.scss */
#canvas {
  top: 46vw;
  left: 74.75vw;
}

/* line 105, ../sass/periodic.scss */
#track {
  top: 46vw;
  left: 80.5vw;
}

/* line 106, ../sass/periodic.scss */
#audio {
  top: 46vw;
  left: 86.25vw;
}

/* line 107, ../sass/periodic.scss */
#video {
  top: 46vw;
  left: 92vw;
}

/* line 108, ../sass/periodic.scss */
#button {
  top: 34.5vw;
  left: 63.25vw;
}

/* line 109, ../sass/periodic.scss */
#datalist {
  top: 23vw;
  left: 69vw;
}

/* line 110, ../sass/periodic.scss */
#fieldset {
  top: 5.75vw;
  left: 57.5vw;
}

/* line 111, ../sass/periodic.scss */
#form {
  top: 5.75vw;
  left: 63.25vw;
}

/* line 112, ../sass/periodic.scss */
#input {
  top: 28.75vw;
  left: 57.5vw;
}

/* line 113, ../sass/periodic.scss */
#keygen {
  top: 28.75vw;
  left: 69vw;
}

/* line 114, ../sass/periodic.scss */
#label {
  top: 23vw;
  left: 57.5vw;
}

/* line 115, ../sass/periodic.scss */
#legend {
  top: 17.25vw;
  left: 57.5vw;
}

/* line 116, ../sass/periodic.scss */
#meter {
  top: 11.5vw;
  left: 57.5vw;
}

/* line 117, ../sass/periodic.scss */
#optgroup {
  top: 17.25vw;
  left: 63.25vw;
}

/* line 118, ../sass/periodic.scss */
#option {
  top: 23vw;
  left: 63.25vw;
}

/* line 119, ../sass/periodic.scss */
#output {
  top: 28.75vw;
  left: 63.25vw;
}

/* line 120, ../sass/periodic.scss */
#progress {
  top: 34.5vw;
  left: 69vw;
}

/* line 121, ../sass/periodic.scss */
#select {
  top: 11.5vw;
  left: 63.25vw;
}

/* line 122, ../sass/periodic.scss */
#textarea {
  top: 34.5vw;
  left: 57.5vw;
}

/* line 123, ../sass/periodic.scss */
#command {
  top: 23vw;
  left: 86.25vw;
}

/* line 124, ../sass/periodic.scss */
#details {
  top: 34.5vw;
  left: 86.25vw;
}

/* line 125, ../sass/periodic.scss */
#menu {
  top: 17.25vw;
  left: 86.25vw;
}

/* line 126, ../sass/periodic.scss */
#summary {
  top: 28.75vw;
  left: 86.25vw;
}

/* line 127, ../sass/periodic.scss */
#base {
  top: 23vw;
  left: 0;
}

/* line 128, ../sass/periodic.scss */
#head {
  top: 5.75vw;
  left: 0;
}

/* line 129, ../sass/periodic.scss */
#link {
  top: 28.75vw;
  left: 0;
}

/* line 130, ../sass/periodic.scss */
#meta {
  top: 17.25vw;
  left: 0;
}

/* line 131, ../sass/periodic.scss */
#noscript {
  top: 28.75vw;
  left: 5.75vw;
}

/* line 132, ../sass/periodic.scss */
#script {
  top: 34.5vw;
  left: 5.75vw;
}

/* line 133, ../sass/periodic.scss */
#style {
  top: 34.5vw;
  left: 0;
}

/* line 134, ../sass/periodic.scss */
#title {
  top: 11.5vw;
  left: 0;
}

/* line 135, ../sass/periodic.scss */
#address {
  top: 17.25vw;
  left: 69vw;
}

/* line 136, ../sass/periodic.scss */
#article {
  top: 28.75vw;
  left: 80.5vw;
}

/* line 137, ../sass/periodic.scss */
#aside {
  top: 11.5vw;
  left: 69vw;
}

/* line 138, ../sass/periodic.scss */
#body {
  top: 5.75vw;
  left: 69vw;
}

/* line 139, ../sass/periodic.scss */
#footer {
  top: 34.5vw;
  left: 80.5vw;
}

/* line 140, ../sass/periodic.scss */
#h1 {
  top: 5.75vw;
  left: 74.75vw;
}

/* line 141, ../sass/periodic.scss */
#h2 {
  top: 11.5vw;
  left: 74.75vw;
}

/* line 142, ../sass/periodic.scss */
#h3 {
  top: 17.25vw;
  left: 74.75vw;
}

/* line 143, ../sass/periodic.scss */
#h4 {
  top: 23vw;
  left: 74.75vw;
}

/* line 144, ../sass/periodic.scss */
#h5 {
  top: 28.75vw;
  left: 74.75vw;
}

/* line 145, ../sass/periodic.scss */
#h6 {
  top: 34.5vw;
  left: 74.75vw;
}

/* line 146, ../sass/periodic.scss */
#header {
  top: 23vw;
  left: 80.5vw;
}

/* line 147, ../sass/periodic.scss */
#main {
  top: 11.5vw;
  left: 80.5vw;
}

/* line 148, ../sass/periodic.scss */
#nav {
  top: 5.75vw;
  left: 80.5vw;
}

/* line 149, ../sass/periodic.scss */
#section {
  top: 17.25vw;
  left: 80.5vw;
}

/* line 150, ../sass/periodic.scss */
#a {
  top: 11.5vw;
  left: 5.75vw;
}

/* line 151, ../sass/periodic.scss */
#abbr {
  top: 23vw;
  left: 11.5vw;
}

/* line 152, ../sass/periodic.scss */
#b {
  top: 23vw;
  left: 17.25vw;
}

/* line 153, ../sass/periodic.scss */
#bdi {
  top: 28.75vw;
  left: 28.75vw;
}

/* line 154, ../sass/periodic.scss */
#bdo {
  top: 34.5vw;
  left: 28.75vw;
}

/* line 155, ../sass/periodic.scss */
#cite {
  top: 34.5vw;
  left: 11.5vw;
}

/* line 156, ../sass/periodic.scss */
#code {
  top: 34.5vw;
  left: 34.5vw;
}

/* line 157, ../sass/periodic.scss */
#del {
  top: 23vw;
  left: 28.75vw;
}

/* line 158, ../sass/periodic.scss */
#dfn {
  top: 17.25vw;
  left: 11.5vw;
}

/* line 159, ../sass/periodic.scss */
#em {
  top: 17.25vw;
  left: 17.25vw;
}

/* line 160, ../sass/periodic.scss */
#i {
  top: 17.25vw;
  left: 17.25vw;
}

/* line 161, ../sass/periodic.scss */
#ins {
  top: 17.25vw;
  left: 28.75vw;
}

/* line 162, ../sass/periodic.scss */
#kbd {
  top: 23vw;
  left: 34.5vw;
}

/* line 163, ../sass/periodic.scss */
#mark {
  top: 28.75vw;
  left: 23vw;
}

/* line 164, ../sass/periodic.scss */
#q {
  top: 28.75vw;
  left: 11.5vw;
}

/* line 165, ../sass/periodic.scss */
#rp {
  top: 23vw;
  left: 5.75vw;
}

/* line 166, ../sass/periodic.scss */
#rt {
  top: 17.25vw;
  left: 5.75vw;
}

/* line 167, ../sass/periodic.scss */
#ruby {
  top: 34.5vw;
  left: 23vw;
}

/* line 168, ../sass/periodic.scss */
#s {
  top: 17.25vw;
  left: 34.5vw;
}

/* line 169, ../sass/periodic.scss */
#samp {
  top: 34.5vw;
  left: 17.25vw;
}

/* line 170, ../sass/periodic.scss */
#small {
  top: 17.25vw;
  left: 23vw;
}

/* line 171, ../sass/periodic.scss */
#span {
  top: 5.75vw;
  left: 5.75vw;
}

/* line 172, ../sass/periodic.scss */
#strong {
  top: 23vw;
  left: 23vw;
}

/* line 173, ../sass/periodic.scss */
#sub {
  top: 28.75vw;
  left: 17.25vw;
}

/* line 174, ../sass/periodic.scss */
#sup {
  top: 34.5vw;
  left: 17.25vw;
}

/* line 175, ../sass/periodic.scss */
#time {
  top: 23vw;
  left: 17.25vw;
}

/* line 176, ../sass/periodic.scss */
#var {
  top: 28.75vw;
  left: 17.25vw;
}

/* line 177, ../sass/periodic.scss */
#wbr {
  top: 28.75vw;
  left: 34.5vw;
}

/* line 178, ../sass/periodic.scss */
#caption {
  top: 11.5vw;
  left: 86.25vw;
}

/* line 179, ../sass/periodic.scss */
#col {
  top: 0;
  left: 86.25vw;
}

/* line 180, ../sass/periodic.scss */
#colgroup {
  top: 5.75vw;
  left: 86.25vw;
}

/* line 181, ../sass/periodic.scss */
#table {
  top: 0;
  left: 92vw;
}

/* line 182, ../sass/periodic.scss */
#tbody {
  top: 23vw;
  left: 92vw;
}

/* line 183, ../sass/periodic.scss */
#td {
  top: 11.5vw;
  left: 92vw;
}

/* line 184, ../sass/periodic.scss */
#tfoot {
  top: 34.5vw;
  left: 92vw;
}

/* line 185, ../sass/periodic.scss */
#th {
  top: 17.25vw;
  left: 92vw;
}

/* line 186, ../sass/periodic.scss */
#thead-element {
  top: 28.75vw;
  left: 92vw;
}

/* line 187, ../sass/periodic.scss */
#tr {
  top: 5.75vw;
  left: 92vw;
}
