header{
	background-color: $color-primary;
	height: 8rem;
	position: fixed;
	top: 0;
	left: 0;
	/*multiple headers get styled into tabs. See foxnews for example*/
	img.logo{/*site logo*/
		display: inline-block;
		float: left;
    	height: 5rem;
    	margin-left: 1rem;
	}
	h1{/*site tite*/
		color: $color-secondary;
		display: inline-block;
		float: left;
		line-height: 5rem;
		margin-left: 1rem;
		margin-top: 0;
		padding: 0;
	}
	address{/*address info*/}

	section{
		&.masthead{
			/*masthead is centered on page*/
			img.logo{/*site logo*/}
			h1{/*site title*/}
			address{/*address info*/}
		}
		&.user{
			background-color: $color-tertiary;
			height: 2em;
			//padding: 0.38rem 0 0.62rem 0;
			//margin-right: 1rem;
			position: absolute;
			right: 1rem;
			top: 0;
			text-align: center;
			a{
				text-decoration: none;
				//margin: 0.38rem 1rem 0.62rem 1rem;
			}
		}
		&.social{
			height: 2em;
			text-align: right;
			display: table;
			padding-right: 1rem;
			a{
				display: table-cell;
				float: right;
				width: 1em;
				padding: 0.5em 1em;
				font-family: "Entypo";
				color: $color-tertiary;
				text-decoration: none;
			}
		}
		&.search{
			position: fixed;
			top: 2rem;
			right: 0;
			height: 3rem;
			text-align: right;
			padding-right: 1rem;
			form input{
				height: 1.5rem;
				margin-top: 0.75em;
			}
			.compact{/*expanding box*/}
		}
	}
	nav{
		position: fixed;
		top: 5em;
		height: 3rem;
		background-color: $color-secondary;
		float: left;
		ul{
			width: 100%;
			margin: 0;
			height: 3rem;
			padding: 0;
			list-style: none;
			display: table;
		}
		li{
			display: table-cell;
			text-align: center;
			padding: 1em;
			&:hover{
				background-color: $color-background;
				a{
					color: $color-secondary;
				}
			}
			> a{
				display: block;
				text-decoration: none;
			}
		}
	}
	#show-mobile-nav{
		color: $color-secondary;
		font-family: "Entypo";
		font-size: 5em;
		display: block;
		position: fixed;
		text-decoration: none;
		top: -0.38rem;
		left: -0.5em;
		overflow: visible;
	}
}





/* This is the clickable label */
.slide-toggle {
	float: right;
	cursor: pointer;
	position: fixed;
	top:-1.9rem;
	left: -2rem;
	z-index: 1;
	display: none;
	color: $color-secondary;
}

/* Kill the nasty outlines everywhere */
.slide-toggle,
.slide-toggle:active,
.slide-toggle:focus {
	border: none !important;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The :after pseudo element has an icon that covers the checkbox */
.slide-toggle:after {
	content: "☰";	
	display: block;		
	font: 8rem 'Entypo';
	text-align: center;
	margin-left: -19px;
}

/* This is the checkbox */
.slide-checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* When it's checked replace the menu icon with a close icon */
.slide-checkbox:checked ~ .slide-toggle:after {
	content: '☰';
}



/*only show mobile nav on @media handheld*/

