header{
	background-color: $color-primary;
	height: 8rem;
	position: fixed;
	top: 0;
	left: 0;
	/*multiple headers get styled into tabs. See foxnews for example*/
	img.logo{/*site logo*/
		display: inline-block;
		float: left;
    	height: 5rem;
    	margin-left: 1rem;
	}
	h1{/*site tite*/
		color: $color-accent;
		display: inline-block;
		float: left;
		line-height: 5rem;
		margin-left: 1rem;
		margin-top: 0;
		padding: 0;
	}
	address{/*address info*/}

	section{
		&.masthead{
			/*masthead is centered on page*/
			img.logo{/*site logo*/}
			h1{/*site title*/}
			address{/*address info*/}
		}
		&.user{
			background-color: $color-secondary;
			//padding: 0.38rem 0 0.62rem 0;
			margin-right: 1rem;
			height: 3rem;
			display: table;
			@include box-shadow;
			//position: absolute;
			//right: 1rem;
			//top: 0;
			text-align: center;
			float: right;			
			a{
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
				/*&:after{
					content: " |";
				}
				&:last-of-type:after{
					content: "";
				}*/
				//margin: 0.38rem 1rem 0.62rem 1rem;
			}
		}
		&.search{
			//position: fixed;
			//top: 2rem;
			//right: 0;
			position: absolute;
			top: 3rem;
			right: 1rem;
			height: 2rem;
			text-align: right;
			form {
				height: 2rem;
				input[type="search"]{
					height: 1.5rem;
					margin-top: 0.25rem;
					border: 0;
				}
				input[type="submit"]{
					height: 1.5rem;
					margin-top: 0.25rem;
					border: 0;
					padding: 0 0.5rem;					
				}
			}
			.compact{/*expanding box*/}
		}
	}
	nav{
		position: fixed;
		top: 5em;
		height: 3rem;
		background-color: $color-secondary;		
		float: left;
		@include box-shadow;
		ul{
			width: 100%;
			margin: 0;
			height: 3rem;
			padding: 0;
			list-style: none;
			display: table;
		}
		li{
			display: table-cell;
			text-align: center;
			padding: 1em;
			> a{
				display: block;
				text-decoration: none;
			}
			&:hover{
				background-color: $color-background;
				a{
					color: $color-secondary;
				}
			}			
		}
	}
	#show-mobile-nav{
		color: $color-secondary;
		font-family: "Entypo";
		font-size: 5em;
		display: block;
		position: fixed;
		text-decoration: none;
		top: -0.38rem;
		left: -0.5em;
		overflow: visible;
	}
}





/* This is the clickable label */
.slide-toggle {
	float: right;
	cursor: pointer;
	position: fixed;
	top:-1.9rem;
	left: -2rem;
	z-index: 1;
	display: none;
	color: $color-secondary;
}

/* Kill the nasty outlines everywhere */
.slide-toggle,
.slide-toggle:active,
.slide-toggle:focus {
	border: none !important;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The :after pseudo element has an icon that covers the checkbox */
.slide-toggle:after {
	content: "☰";	
	display: block;		
	font: 8rem 'Entypo';
	text-align: center;
	margin-left: -19px;
}

/* This is the checkbox */
.slide-checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* When it's checked replace the menu icon with a close icon */
.slide-checkbox:checked ~ .slide-toggle:after {
	content: '☰';
}



/*only show mobile nav on @media handheld*/

