/*styles for devices from 384-640 px wide*/
header{
	height: 5rem;
	@include column(3,3);
	img.logo{
		position: relative;
		left: 1.5rem;
	}
	h1{
		position: relative;
		left: 1.5rem;
	}
	address{display: none;}
	section{
		&.masthead{	}
		&.user{
			@include column(1,3);
			a{}
		}
		&.search{}
	}
	nav{
		width: 50%;
		ul{
			
		}
		li{	}
	}
}
