/*styles for screens 256-384px*/
header{
	height: 5rem;
	@include column(2,2);
	img.logo{
		position: relative;
		left: 1.5rem;
	}
	h1{
		position: relative;
		left: 1.5rem;
	}
	address{display: none;}
	section{
		&.masthead{	}
		&.user{
			@include column(1,2);
			a{}
		}
		&.search{display: none;}
	}
	nav{
		ul{
			width: 62%;
		}
		li{	}
	}
}

