aside {
    padding-top: 2px;
    margin: 0.5rem 0;
    box-sizing: border-box;
    position: relative;
    padding-left: $unit-scalar-gutter;
    padding-right: $unit-scalar-gutter;
    display: block;
    color: mix($color-text, $color-background);
    @include font-properties-for(small);
    font-family: #{$heading-font};
    h1,h2,h3,h4,h5 {
        @include font-properties-for(h4);
        color: $color-text;
        font-family: #{$body-font};
    }
    p {
        color: mix($color-text, $color-background);
        @include font-properties-for(small);
        font-family: #{$heading-font};
    }
    ul {
        text-align: left;
        &:nth-of-type(even) {
            padding-right: #{$unit-scalar-gutter / 2};
        }
        &:nth-of-type(odd) {
            padding-left: #{$unit-scalar-gutter / 2};
        }
    }
}