/* { picnicc: style } */
@import "laws/variables";
//////////////////
//TYPOGRAPHY
//////////////////
$key: e;
$quality: dom7;
$sans: Quicksand;
$serif: Alegreya;
$body-font: $serif;
$heading-font: $serif;
//////////////////
//COLOR
//////////////////
$color: #E8C13E;
$scheme: mono;//mono, complement, triad, tetrad, analogic, accented-analogic
$tone: light;//white, light, dark, black
//////////////////
//OTHER
//////////////////
$icons: no;
$skeu: faux-flat;
$material: wood;
$grid: off;
//////////////////
//VARIABLES
//////////////////
//COLORS
$color-primary: $color-earth-h;
$color-secondary: $color-earth-e;
$color-tertiary: $color-earth-i;
$color-text: $color-earth-k;
$color-accent: $color-earth-g;
$color-background: $color-earth-j;
$color-drawer:  $color-earth-e;

//$unit-scalar-height-line: 1.2rem;
//BF7960
//
//$unit-value-em: 16;
//nth($units-scalar, 1): $unit-value-em * 8;
//nth($units-scalar, 2): nth($units-scalar, 1) * 2;
//nth($units-scalar, 3): nth($units-scalar, 1) * 3;
//nth($units-scalar, 5): nth($units-scalar, 1) * 5;
//nth($units-scalar, 8): nth($units-scalar, 1) * 8;
//nth($units-scalar, 13): nth($units-scalar, 1) * 13;
//$font-base: null;
//$unit-scalar-width-max: 60em;
//$unit-scalar-height-header: 3rem;
//$unit-scalar-height-nav: 3rem;
//$unit-time-transition: 0.4s;
//$color-shade: rgba(0,0,0,0.5);
//$color-tint: rgba(255,255,255,0.5);
//$unit-scalar-border-radius: 2px;
//$unit-value-opacity-header: 1;
//$unit-scalar-shadow-y: 1px;
//$unit-scalar-shadow-blur: 5px;
//$unit-value-opacity-shadow: 0.25;
//$unit-scalar-height-form: 1.5rem;
//$style-animation-ease: ease-in-out;
//human-font, machine-font, copy-font
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700);
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:500");
/*Set in the key of #{$key} #{$quality}. #{$scheme} color scheme based on #{$color} with a #{$tone} background.*/
@import "style";
/* { / picnicc } */