/* { picnicc: style } */
@import "laws/variables";
//////////////////
//TYPOGRAPHY
//////////////////
$key: c;
$quality: maj;
$sans: Open Sans;
$serif: Gentium Basic;
$body-font: $sans;
$heading-font: $sans;
//////////////////
//COLOR
//////////////////
$color: #283234;
$scheme: mono;//mono, complement, triad, tetrad, analogic, accented-analogic
$tone: white;//white, light, dark, black
//////////////////
//OTHER
//////////////////
$icons: no;
$skeu: faux-flat;
$material: none;
$grid: off;
//////////////////
//VARIABLES
//////////////////
//COLORS
//http://www.colourlovers.com/palette/161323/A_wizard_did_it.
//$color-primary: ;
$color-secondary: #D89E27;
$color-tertiary: #4C726D;
//$color-text: $color-earth-j;#DBC96D
$color-accent: #E6E7B3 ;
//$color-background: white;
//$color-drawer:  #4C726D;

//$unit-scalar-height-line: 1.5rem;
//BF7960
//
//$unit-value-em: 16;
//nth($units-scalar, 1): $unit-value-em * 8;
//nth($units-scalar, 2): nth($units-scalar, 1) * 2;
//nth($units-scalar, 3): nth($units-scalar, 1) * 3;
//nth($units-scalar, 5): nth($units-scalar, 1) * 5;
//nth($units-scalar, 8): nth($units-scalar, 1) * 8;
//nth($units-scalar, 13): nth($units-scalar, 1) * 13;
//$font-base: null;
//$unit-scalar-width-max: 40em;
//$unit-scalar-height-header: 3rem;
//$unit-scalar-height-nav: 3rem;
//$unit-time-transition: 0.2s;
//$color-shade: rgba(0,0,0,0.5);
//$color-tint: rgba(255,255,255,0.5);
//$unit-scalar-border-radius: 2px;
//$unit-value-opacity-header: 1;
//$unit-scalar-shadow-y: 1px;
//$unit-scalar-shadow-blur: 5px;
$unit-value-opacity-shadow: 0.25;
//$unit-scalar-height-form: 1.5rem;
//$style-animation-ease: ease-in-out;
//human-font, machine-font, copy-font
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700");
@import url("http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:500");
/*Set in the key of #{$key} #{$quality}. #{$scheme} color scheme based on #{$color} with a #{$tone} background.*/
@import "style";
/* { / picnicc } */