time{
	@include font-properties-for(p);
	color: $color-tertiary;
	line-height: #{typography(p,line-height) * ($unit-scalar-height-line)};
	font-family: '#{$body-font}';
	&.uber,
	.uber &{
		@include font-properties-for(p,2);}}