form{
	display: block;
	float: left;
	width: 100%;
	flex-wrap: wrap;
	@media all and (min-width:#{$length-three * 1px}){
		display: flex;
		width: 100%;
		input{
			display: flex;
		}
	}
	label,span{
		font-size: typography(p,font-size) * 1rem;
		line-height: typography(p,line-height) * 1rem;		
		//height: 0.89rem;
		white-space: nowrap;
	}
	label{
		flex-grow: 0;
		@media all and (min-width:#{$length-one * 1px}) and (max-width:#{$length-two * 1px}){
			display: block;
		}
		@media all and (min-width:#{$length-two * 1px}) and (max-width:#{$length-three * 1px}){
			display: block;
		}
		@media all and (min-width:#{$length-three * 1px}) and (max-width:#{$length-five * 1px}){
			min-width: 33%;
		}
		@media all and (min-width:#{$length-five * 1px}) and (max-width:#{$length-eight * 1px}){
			min-width: 25%;
		}
		@media all and (min-width:#{$length-eight * 1px}) and (max-width:#{$length-thirteen * 1px}){
			min-width: 10%;
		}
		@media all and (min-width:#{$length-thirteen * 1px}){
			min-width: 10%;
		}
	}
	label{
		height: 1.5rem;
		padding: 0 0.5rem;
		/*background-color: $color-drawer;
		@include box-shadow($color-background);*/
		margin-top: 0.15rem;
		position: relative;
		line-height: 1.5rem;
		float: left;
		margin-right: 1rem;
	}	
	input{
		display: block;			
		flex-grow: 1;	
		float: left;
		padding: 0 0.5rem;
		@media all and (max-width:#{$length-three * 1px}){
			width: 100%;
		}
		&[maxlength="1"]{
			//hack
			width: 1em;
		}
		&[maxlength="2"]{
			//hack
			width: 2em;
		}
		&[maxlength="3"]{
			//hack
			width: 3em;
		}
		&[maxlength="4"]{
			//hack
			width: 4em;
		}
		&[maxlength="5"]{
			//hack
			width: 5em;
		}
		&[maxlength="6"]{
			//hack
			width: 6em;
		}
		&[maxlength="7"]{
			//hack
			width: 7em;
		}
		&[maxlength="8"]{
			//hack
			width: 8em;
		}
		&[maxlength="9"]{
			//hack
			width: 9em;
		}
		&[maxlength="10"]{
			//hack
			width: 10em;
		}
		&[maxlength="11"]{
			//hack
			width: 11em;
		}
		&[maxlength="12"]{
			//hack
			width: 12em;
		}
		&[maxlength="13"]{
			//hack
			width: 13em;
		}
		&[maxlength="14"]{
			//hack
			width: 14em;
		}
		&[maxlength="15"]{
			//hack
			width: 15em;
		}
		&[maxlength="16"]{
			//hack
			width: 16em;
		}
		&[maxlength="17"]{
			//hack
			width: 17em;
		}
		&[maxlength="18"]{
			//hack
			width: 18em;
		}
		&[maxlength="19"]{
			//hack
			width: 19em;
		}
		&[maxlength="20"]{
			//hack
			width: 20em;
		}
		
	}
}