input{
	height: 1.5rem;
	&[type="text"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
		&:disabled{
			background-color: $color-background;
			color: $color-drawer;
		}
	}
	&[type="range"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="email"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="search"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="url"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="password"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="tel"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="date"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="month"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="week"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="time"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="datetime"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="number"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&:not([type]){
		padding: 0;
	}
	&[type="color"]{
		padding: 0;
		border: none;
		max-width: 3rem;
		height: 1.5rem;
		margin: 0.25rem 0;
		&::-webkit-color-swatch-wrapper{
			padding: 0.3rem;
			background: white;
			@include box-shadow(white);			
		}
		&::-webkit-color-swatch{
			border: none;
			@include box-shadow-inset(white);
		}
	}
	&[type="radio"]{
		height: 1rem;
		box-shadow: none;
		width: auto;
		-webkit-appearance: none;
		display: flex;
		align-items: center;
		margin: 0.5rem 0.2rem 0.5rem 0;
		&:before{
			width: 1rem;
			height: 1rem;
			background-color: $color-drawer;
			display: block;
			content:"";
			border-radius: 50%;
			padding: 0.46rem 0 0rem 0.09rem;
			@include box-shadow-inset($color-background);
		}
		&:checked:before{
			content: "\2022";
			color: $color-accent;
			font-size: 2rem;
			line-height: 0;

		}
		&:after{
			content: attr(name);
			color: $color-text;
			display: block;
			position: relative;
			left: 0.2rem;
			margin-right: 0.2rem;
			flex-grow: 1;
		}
	}
	&[type="checkbox"]{
		height: 1rem;
		-webkit-appearance:none;
		&:before{
			width: 1rem;
			height: 1rem;
			background-color: $color-drawer;
			display: block;
			content:"";
			@include box-shadow-inset($color-background);
			font-size: 1.5rem;
			padding-left: 0.1rem;

		}
		&:checked:before{
			content: "\2713";
			color: $color-accent;
			line-height: 0;
			padding-top: 0.2rem;
		}
	}


	&[type="submit"]{
		border-radius: 3px;
	}
	&[type="file"]{
		margin: 0.25rem 0;
		padding: 0;
	}
}


select{
	border: none;
	background-color: $color-drawer;
	@include box-shadow-inset($color-background);	
	&:focus{
		outline: none;
		box-shadow: none;
	}
	&::-webkit-scrollbar-track{
		margin-top: -1px;
	}
}



output{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
}
label{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
	&.required{
		&:after{
			content: "*";
		}
	}
}

textarea{
	padding: 1rem 0 0 0.62rem;
	border: 0;
	color: $color-text;
	background-color: $color-drawer;
	@include box-shadow-inset($color-background);
	&:disabled{
		background-color: $color-background;
		color: $color-drawer;
	}
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: $color-drawer;
	@include box-shadow-inset($color-drawer);
	margin-top: -1px;
}

::-webkit-scrollbar-thumb {
	width: calc(100% - 2px);
	width: 50%;
	background-color: $color-primary;
	@include box-shadow($color-primary);
	border-right: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
	width: 1rem;
	height: 100%;
	&:before{
		width: 0;
		height: 0;
		border-left: 0.25rem solid transparent;
		border-right: 0.25rem solid transparent;
		border-bottom: 0.5rem solid $color-accent;
		content: "";
		position: relative;
		bottom: 1rem;
		left: 25%;
	}
	&:after{
		width: 0;
		height: 0;
		border-left: 0.25rem solid transparent;
		border-right: 0.25rem solid transparent;
		border-top: 0.5rem solid $color-accent;
		content: "";
		position: relative;
		top: 1.2rem;
		left: -25%;
	}
}

::-webkit-slider-thumb{
	-webkit-appearance: none;	
	background-color: $color-text;
	@include box-shadow($color-text);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

::-webkit-media-controls-play-button{
	-webkit-appearance: none;
	height: 0;
	width: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid $color-text;
	border-bottom: 0.5rem solid transparent;
}

::-webkit-media-controls-panel{
	background-color: rgba(red($color-drawer), green($color-drawer), blue($color-drawer), 0.8);
}

::-webkit-media-slider-container{
	border: none;
	background-color: $color-drawer;
}

::-webkit-media-controls-current-time-display{
	color: $color-text;
}

::-webkit-meter-bar{
	background: $color-drawer;
	@include box-shadow-inset($color-background);
	overflow: hidden;
}


::-webkit-meter-optimum-value{
	background: green;
	@include box-shadow(green);
}
::-webkit-meter-suboptimum-value{
	background: yellow;
	@include box-shadow(yellow);
}

::-webkit-meter-even-less-good-value{
	background: red;
	@include box-shadow(red);
}

::-webkit-file-upload-button{
	-webkit-appearance: none;
	border: none;
	color: $color-background;
	background-color: $color-accent;
	@include box-shadow($color-accent);
	height: 1.5rem;
}
::-webkit-file-upload-button:disabled{
	color: $color-accent;
	background-color: $color-drawer;
	@include box-shadow($color-drawer);
}

input::-webkit-calendar-picker-indicator:hover{
	background-color: transparent;
}

::-webkit-clear-button{
	-webkit-appearance: none;
	content: "x";
	display: block;
	color: red;
	width: 1rem;
	height: 100%;
}
