input{
	height: 1.5rem;
	&[type="text"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
		&:disabled{
			background-color: $color-background;
			color: $color-drawer;
		}
	}
	&[type="range"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="email"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="search"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="url"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="password"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="tel"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="date"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="month"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="week"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="time"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="datetime"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&[type="number"]{
		background-color: $color-drawer;
		color: $color-text;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border: 0;
		@include box-shadow-inset($color-background);
	}
	&:not([type]){
		padding: 0;
	}
	&[type="color"]{
		padding: 1px 0;
	}
	&[type="radio"]{
		height: 1rem;
		box-shadow: none;
		width: auto;
		&:after{
			content: attr(name);
			display: block;
			position: relative;
			left: 1rem;
		}
	}
	&[type="checkbox"]{
		padding: 0;
		margin: 0;
		height: 1rem;
		border:0;
		box-shadow: none;
	}


	&[type="submit"]{
		border-radius: 3px;
	}
}


select{
	border: none;
	background-color: $color-drawer;
	@include box-shadow-inset($color-background);	
	&:focus{
		outline: none;
	}
}



output{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
}
label{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
	&.required{
		&:after{
			content: "*";
		}
	}
}

textarea{
	padding: 1rem 0 0 0.62rem;
	border: 0;
	color: $color-text;
	background-color: $color-drawer;
	@include box-shadow-inset($color-background);
	&:disabled{
		background-color: $color-background;
		color: $color-drawer;
	}
}

::-webkit-scrollbar              { width: 1rem; overflow:hidden;}
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        { background-color: $color-drawer;@include box-shadow-inset($color-drawer); overflow:hidden;}
::-webkit-scrollbar-track-piece  {  overflow:hidden; }
::-webkit-scrollbar-thumb        { width: calc(100% - 2px); background-color: $color-primary;@include box-shadow($color-primary); }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-slider-thumb{
	-webkit-appearance: none;	
	background-color: $color-text;
	@include box-shadow($color-text);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

::-webkit-media-controls-play-button{
	-webkit-appearance: none;
	height: 0;
	width: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid $color-text;
	border-bottom: 0.5rem solid transparent;
}

::-webkit-media-controls-panel{
	background-color: rgba(red($color-drawer), green($color-drawer), blue($color-drawer), 0.8);
}

::-webkit-media-slider-container{
	border: none;
	background-color: $color-drawer;
}

::-webkit-media-controls-current-time-display{
	color: $color-text;
}

::-webkit-meter-bar{
	background: $color-drawer;
	@include box-shadow-inset($color-background);
	overflow: hidden;
}


::-webkit-meter-optimum-value{
	background: green;
	@include box-shadow(green);
}
::-webkit-meter-suboptimum-value{
	background: yellow;
	@include box-shadow(yellow);
}

::-webkit-meter-even-less-good-value{
	background: red;
	@include box-shadow(red);
}

::-webkit-file-upload-button{
	-webkit-appearance: none;
	border: none;
	color: $color-background;
	background-color: $color-accent;
	@include box-shadow($color-accent);
	height: 1.5rem;
}
::-webkit-file-upload-button:disabled{
	color: $color-accent;
	background-color: $color-drawer;
	@include box-shadow($color-drawer);
}