input,input[type="text"],input[type="range"],input[type="email"],input[type="search"],input[type="url"],input[type="password"],input[type="tel"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"]{
	background-color: $color-drawer;
	color: $color-text;
	height: 1.5rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.62) inset;
	width: 100%;
}
input:not([type]){
	padding: 0;
}
input[type="color"]{
	padding: 1px 0;
}
select{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.62) inset;
	border-color: $color-background;
}
input[type="radio"]{
	height: 1rem;
	box-shadow: none;
	width: auto;
	&:after{
		content: attr(name);
		display: block;
		position: relative;
		left: 1rem;
	}
}

input[type="checkbox"]{
	padding: 0;
	margin: 0;
	height: 1rem;
	border:0;
	box-shadow: none;
}


input[type="search"], input[type="submit"]{
	border-radius: 3px;
}
output{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
}
label{
	font-size: typography(p,font-size) * 1rem;
	line-height: typography(p,line-height) * 1rem;
	padding-top: typography(p,padding-top) * 1rem;
	padding-bottom: typography(p,padding-bottom) * 1rem;
	&.required{
		&:after{
			content: "*";
		}
	}
}

textarea{
	padding: 1rem 0 0 0.62rem;
	border: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.62) inset;
}