select{
	border: none;
	font-family: inherit;
	font-size: 100%;
	text-transform: none;
	margin: 0;
	@include object($color-input-background);
	&:after{
		
	}	
	&:focus{
		outline: none;
		box-shadow: none;}
	&:disabled{
		@include input-disabled;}
	&::-webkit-scrollbar-track{
		margin-top: -1px;}}