article>header{
	min-height: 50vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
	padding: $unit__gutter--width;
}