article>aside{
	width: 100%;
	padding: 0 1rem;
	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
	width: calc(100% + #{2 * $article-margin-length-one});
	&:nth-of-type(odd){
		float: left;
		@include re-base(right, $article-margin-length-one);}
	&:nth-of-type(even){
		float: right;
		@include re-base(left, $article-margin-length-one);}
	@include media-from($unit__base-x-two){
		width: calc(100% + #{2 * $article-margin-length-two});
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-two);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-two);}}
	@include media-from($unit__base-x-three){
		width: 50%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-three);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-three);}}
	@include media-from($unit__base-x-five){
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-five);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-five);}}
	@include media-from($unit__base-x-eight){
		width: 33%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-eight);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-eight);}}
	@include media-from($unit__base-x-thirteen){
		width: 25%;
		&:nth-of-type(odd){
			@include re-base(right, $article-margin-length-thirteen);}
		&:nth-of-type(even){
			@include re-base(left, $article-margin-length-thirteen);}}}