dl>ol{
	//dictionary definitions
	counter-reset: li;
	padding: 0;
	dt{
		font-size: typography(h4,font-size) * 1rem;
		font-weight: bold;
		display: inline;
		padding: 0;
		line-height: typography(h4,font-size) * 1rem;
		margin-left: -2rem;}
	dd{
		@include font-properties-for(p);}
	li{
		padding: 0 0 1rem 0;
		display: inline;
		float: left;
		width: 100%;			
		ol{
			padding: 0;
			display: inline;
			li{
				float: none;
				&:before{
					content: counter(li) ".";
					counter-increment: li;
					margin-right: 0.2rem;
					font-weight: bold;}}				
			dd{
				margin: 0;
				display: inline;}}}}