.slide-toggle {
	float: left;
	height: #{$unit__nav--height / 5};
	width: $unit__nav--height;
	cursor: pointer;	
	z-index: 1;
	display: none;
	background-color: $color-primary;
	margin: auto;
	position: absolute;
	right: 1rem;
	bottom: 0;
	top: 0;
	padding: 0;
	min-width: 0;
	content: "";
	@include transition;
	@include prefixer(transition, transform #{$length__transition / 2} $style__animation-ease);
	@include box-shadow($color-primary);
	@include media-to($length-mobile-cutoff){
		display: block;}
	&:before {
		@include transition;
		content: "";	
		display: block;	
		height: #{$unit__nav--height / 5};	
		width: $unit__nav--height;
		background-color: $color-primary;		
		position: absolute;
		bottom: calc(#{$unit__nav--height / 2.5} - #{$unit__shadow-size});
		@include prefixer(transform-origin, 100% 0%);
		@include box-shadow($color-primary);}
	&:after {
		@include transition;
		content: "";	
		display: block;	
		height: #{$unit__nav--height / 5};	
		width: $unit__nav--height;
		background-color: $color-primary;		
		position: absolute;
		top: #{$unit__nav--height / 2.5};
		@include prefixer(transform-origin, 100% 0%);
		@include box-shadow($color-primary);}
	}

.slide-toggle,
.slide-toggle:active,
.slide-toggle:focus {
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);}



.slide-checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
	@include media-to($length-mobile-cutoff){		
		&:checked ~ nav{
			right: 0;
			@include prefixer(transform, translateY(0) scale3d(1, 1, 1));}}}
.slide-toggle ~ nav {
	@include media-from($unit__base-x-one){
		width: 100%;}
	@include media-from($unit__base-x-three){
		width: 50%;}
	@include media-from($unit__base-x-five){
		width: 33%;}
	@include media-to($length-mobile-cutoff){
		position: fixed;
		right: -100%;
		height: 100%;
		top: $unit__header--height;
		background-color: $color-drawer;
		@include box-shadow($color-drawer);
		@include prefixer(transition, right $length__transition $style__animation-ease);
		ul{
			float: right;
			display: block;
			width: auto;			
			li{
				float: right;
				width: 100%;
				display: table;
				ul{
					width: 100%;
					left: -100%;
					top: 0;
				}
				a{
					display: table-cell;
					vertical-align: middle;
					/*placeholder*/

				}
			}
		}
		address{
			float: left;}}}
.slide-checkbox:checked ~ .slide-toggle {	
	@include media-to($length-mobile-cutoff){
		background: transparent;
		box-shadow: none;
		border: none;
		&:before{
			//width: $unit__nav--height * 1.414;
			border: none;
			@include prefixer(transform, rotateZ(-45deg) translate(-#{$unit__nav--height / 5.71428571}, -#{$unit__nav--height / 8}));
		}	
		&:after{
			//width: $unit__nav--height * 1.414;
			border: none;
			@include prefixer(transform, rotateZ(45deg) translate(-#{$unit__nav--height / 20}, #{$unit__nav--height / 20}));
		}	
		
	}}

