// Article asides
// Asides in an article contain content parenthetically related
// to the content in the article. They can have headers or p text


&{
	width: 100%;
	padding: 0 $unit-scalar-gutter #{$unit-scalar-gutter / 2} $unit-scalar-gutter;
	margin-bottom: #{$unit-scalar-gutter / 2};	
	width: calc(100% + #{2 * nth($units-scalar-margin-article, 1)});	
	h1,
	h2,
	h3,
	h4,
	h5,
	p{
		margin-bottom: #{$unit-scalar-gutter / -2};}	
	&.pull:nth-of-type(odd){
		float: left;		
		right: nth($units-scalar-margin-article, 1);
		margin-right: #{nth($units-scalar-margin-article, 1) * -0.5};}
	&.pull:nth-of-type(even){
		float: right;		
		left: nth($units-scalar-margin-article, 1);
		margin-left: #{nth($units-scalar-margin-article, 1) * -0.5};}
	@include media-from(nth($units-scalar, 2)){
		width: calc(100% + #{2 * nth($units-scalar-margin-article, 2)});
		&.pull:nth-of-type(odd){
			right: nth($units-scalar-margin-article, 2);
			margin-right: #{nth($units-scalar-margin-article, 2) * -0.5};}
		&.pull:nth-of-type(even){
			left: nth($units-scalar-margin-article, 2);
			margin-left: #{nth($units-scalar-margin-article, 2) * -0.5};}}
	@include media-from(nth($units-scalar, 3)){
		margin-top: -0.25rem;
		margin-bottom: -0.25rem;
		width: 50%;
		

		&.pull:nth-of-type(odd){			
			right: nth($units-scalar-margin-article, 3);
			margin-right: #{nth($units-scalar-margin-article, 3) * -0.5};}
		&.pull:nth-of-type(even){			
			left: nth($units-scalar-margin-article, 3);
			margin-left: #{nth($units-scalar-margin-article, 3) * -0.5};}}
	@include media-from(nth($units-scalar, 5)){
		&.pull:nth-of-type(odd){
			right: nth($units-scalar-margin-article, 5);
			margin-right: #{nth($units-scalar-margin-article, 5) * -0.5};}
		&.pull:nth-of-type(even){
			left: nth($units-scalar-margin-article, 5);
			margin-left: #{nth($units-scalar-margin-article, 5) * -0.5};}}
	@include media-from(nth($units-scalar, 8)){
		width: 33%;
		&.pull:nth-of-type(odd){
			right: nth($units-scalar-margin-article, 8);
			margin-right: #{nth($units-scalar-margin-article, 8) * -0.5};}
		&.pull:nth-of-type(even){
			left: nth($units-scalar-margin-article, 8);
			margin-left: #{nth($units-scalar-margin-article, 8) * -0.5};}}
	@include media-from(nth($units-scalar, 13)){
		width: 25%;
		&.pull:nth-of-type(odd){
			right: nth($units-scalar-margin-article, 13);
			margin-right: #{nth($units-scalar-margin-article, 13) * -0.5};}
		&.pull:nth-of-type(even){
			left: nth($units-scalar-margin-article, 13);
			margin-left: #{nth($units-scalar-margin-article, 13) * -0.5};}}}