
&{
	&:nth-of-type(odd){
		float: right;
		padding-left: $unit-scalar-gutter;
		margin-right: nth($units-scalar-margin-article, 1)  * -1;}
	&:nth-of-type(even){
		float: left;
		margin-left: nth($units-scalar-margin-article, 1)  * -1;}
	@include media-from(nth($units-scalar, 2)){
		width: calc(100% + #{2 * nth($units-scalar-margin-article, 2)});
		&:nth-of-type(odd){
			margin-right: nth($units-scalar-margin-article, 2)  * -1;}
		&:nth-of-type(even){
			margin-left: nth($units-scalar-margin-article, 2) * -1;}}
	@include media-from(nth($units-scalar, 3)){
		width: calc(100% + #{2 * nth($units-scalar-margin-article, 3)});
		&:nth-of-type(odd){
			margin-right: nth($units-scalar-margin-article, 3)  * -1;}
		&:nth-of-type(even){
			margin-left: nth($units-scalar-margin-article, 3) * -1;}}
	@include media-from(nth($units-scalar, 5)){
		width: 50%;
		&:nth-of-type(odd){
			margin-right: nth($units-scalar-margin-article, 5)  * -1;}
		&:nth-of-type(even){
			margin-left: nth($units-scalar-margin-article, 5) * -1;}}
	@include media-from(nth($units-scalar, 8)){
		&:nth-of-type(odd){
			margin-right: nth($units-scalar-margin-article, 8)  * -1;}
		&:nth-of-type(even){
			margin-left: nth($units-scalar-margin-article, 8) * -1;}}
	@include media-from(nth($units-scalar, 13)){
		&:nth-of-type(odd){
			margin-right: nth($units-scalar-margin-article, 13)  * -1;}
		&:nth-of-type(even){
			margin-left: nth($units-scalar-margin-article, 13) * -1;}}}