
// An article 
// Articles are sectioning blocks.
// This means that there can be multiple 
// and can all contain h1 tags and other similarly unique elements

&{
	padding: 0 0.5rem;
	@include media-from(nth($units-scalar, 2)){
		padding: 0 2rem;
		max-width: #{(nth($units-scalar, 2) * (1rem / 16)) + 4rem};}
	@include media-from(nth($units-scalar, 3)){
		padding: 0 3rem;
		max-width: #{(nth($units-scalar, 3) * (1rem / 16)) + 6rem};}
	@include media-from(nth($units-scalar, 5)){
		padding: 0 4rem;
		max-width: #{(nth($units-scalar, 5) * (1rem / 16)) + 8rem};}
	@include media-from(nth($units-scalar, 8)){
		padding: 0 5rem;	
		max-width: $unit-scalar-width-max;}
	@include media-from(nth($units-scalar, 13)){
		padding: 0 6rem;}
	>header{
		@import "header";
	}
	>nav.sidebar{
		@import "nav--.sidebar";
	}
	>time{
		@import "time";		
	}
	>ul{
		@import "ul";
	}
	>.pull{
		@import ".pull";
	}
	
}
