
body {
    margin: 0;
    height: calc(100% - #{$unit-scalar-height-header + $unit-scalar-height-nav});
    overflow-x: hidden;
    @include media-to(nth($units-scalar, 8)) {
        height: calc(100% - #{$unit-scalar-height-header});
    }
}