$color__earth-tone--a: #35291F;
$color__earth-tone--b: #695B4E;
$color__earth-tone--c: #988F76;
$color__earth-tone--d: #482714;
$color__earth-tone--e: #6C4B1A;
$color__earth-tone--f: #B69A71;
$color__earth-tone--g: #6C3108;
$color__earth-tone--h: #C57200;
$color__earth-tone--i: #EEDB74;
$color__earth-tone--j: #333C1A;
$color__earth-tone--k: #66883F;
$color__earth-tone--l: #AFCA90;
$color__earth-tone--m: #45525D;
$color__earth-tone--n: #7A8491;
$color__earth-tone--o: #ADB6BB;
$color__earth-tone--sky: #6B9BE3;
//$p: #;
//$q: #;
//$r: #;
//$s: #;
//$t: #;
//$u: #;
//$v: #;
//$w: #;
//$x: #;
//$y: #;
//$z: #;