$em: 16;

$length-one: $em * 8;

$length-two: $length-one * 2;

$length-three: $length-one * 3;

$length-five: $length-one * 5;

$length-eight: $length-one * 8;

$length-thirteen: $length-one * 13;

$width-one: 8em;

$width-two: 16em;

$width-three: 24em;

$width-four: 32em;

$width-six: 48em;

$width-twelve: 96em;

$font-base: null;

$max-width: 100%;

$header-height: 5rem;

$nav-height: 3rem;

$transition-length: 0.5s;

