$em: 16;

$unit__base-x-one: $em * 8;

$unit__base-x-two: $unit__base-x-one * 2;

$unit__base-x-three: $unit__base-x-one * 3;

$unit__base-x-five: $unit__base-x-one * 5;

$unit__base-x-eight: $unit__base-x-one * 8;

$unit__base-x-thirteen: $unit__base-x-one * 13;

$font-base: null;

$max-width: 100%;

$unit__header--height: 3rem;

$unit__nav--height: 2rem;

$length__transition: 0.5s;

$color__3d--dark: rgba(0,0,0,0.5);

$color__3d--light: rgba(255,255,255,0.5);

$unit__form--input--border-radius: 2px;

$unit__header--opacity: 1;

$unit__shadow-size: 1px;

$unit__shadow-blur: 1px;

$unit__shadow-opacity: 0.25;