// The Collapsed Header
//
// A jQuery function adds the collapsed class onto the header when the user scrolls
// The collapsed header shifts upward as if it remained sticky for a second while
// the user scrolled. It becomes visible on a hover or a scroll up

@include transition(0s);

&.collapsed {
    @media all and (min-width: #{nth($units-scalar, 8) * 1px}) {
        //background-color: $color-background;
        @include box-shadow($color-background);
        border-top: none;
        margin-top: #{($unit-scalar-height-header - 1rem) * -1};
        & + main > nav {
            @include transition(0s);
            opacity: 0.5;
            margin-top: #{($unit-scalar-height-header - 1rem + $unit-scalar-height-nav) * -1};
        }
        section.search {
            display: none;
        }
        .logo {}
        section.masthead {
            position: absolute;
            margin: auto;
            left: 50%;
            margin-left: -50%;
            h1 {
                font-size: 0;
                opacity: 0;
            }
        }
        nav {
            li ul {
                //background-color: rgba(red($color-drawer), green($color-drawer), blue($color-drawer), $unit-value-opacity-header);
           
            }
            ul {}
        }
    }
}