h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.47rem;
  padding-bottom: 0.54rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h1 > small {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h1.uber, .uber h1 {
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 0.94rem;
    padding-bottom: 1.08rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h2 > small {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h2.uber, .uber h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h3 > small {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h3.uber, .uber h3 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h4 > small {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h4.uber, .uber h4 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

h5 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h5 > small {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.45rem;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h5.uber, .uber h5 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

h6 {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
  font-weight: bold;
  font-style: normal;
  margin: 0; }
  h6 > small {
    font-size: 1rem;
    line-height: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  h6.uber, .uber h6 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 0.9rem;
    font-weight: bold;
    font-style: normal;
    margin: 0; }

p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-style: normal;
  margin: 0; }
  p > small {
    font-size: 0.85rem;
    line-height: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    display: inline; }
  p.uber, .uber p {
    font-size: 2rem;
    line-height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
    font-style: normal;
    margin: 0; }
